{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your student services query about?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-student-services" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-student-services",
        "name": "select-your-query-student-services",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "NHS Learning Support Fund",
            "text": "NHS Learning Support Fund",
            "hint": {
              "text": "Funding for nursing, midwifery and Allied Health Professional students"
            }
          },
          {
            "value": "NHS Bursary",
            "text": "NHS Bursary",
            "hint": {
              "text": "Funding for students studying to become a doctor or dentist"
            }
          },
          {
            "value": "Social Work Bursary",
            "text": "Social Work Bursary",
            "hint": {
              "text": "Funding for social work students"
            }
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}