{% extends 'layout-upload-document.html' %}
{% set pageTitle = "Are you using a computer, tablet or smart phone?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

    </div>
</div>

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Choose your  electronic device</h2>
                <p>Step 1</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">{{pageTitle}}</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <p class="nhsuk-body-l">Choose what you are using to upload your document:</p>
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a href="where-is-your-document"><button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-right-5"
                    data-module="nhsuk-button">Computer</button></a>
            <a href="tablet-smart-phone/what-you-need"><button class="nhsuk-button nhsuk-button--reverse"
                    data-module="nhsuk-button">Tablet or smart phone</button></a>
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/icon_all.svg"
                alt="Example of upload document">
        </div>
    </div>
</div>


{% endblock %}