{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
Select your address - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
  
        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}
  
    </div>
  </div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>{{ data['addresses'] | length }} {% if (data['addresses'] | length > 1)  %}addresses{% else %}address{% endif %} found for {{ data['postcode'] }}. <a href="find-your-address">Search again</a></p>

      <form action="v5/select-your-address" method="post" novalidate>

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Select your address
          </h1>
        </legend>
      
        <div class="nhsuk-form-group">
      
          <div class="nhsuk-radios">

            {% for address in data['addresses'] %}
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="{{ address }}" name="address" type="radio" value="{{ address }}">
              <label class="nhsuk-label nhsuk-radios__label" for="{{ address }}">
                {{ address }}
              </label>
            </div>
            {% endfor %}
      
          </div>
        </div>
      
      </fieldset>

      {{ button({
        "text": "Use this address"
      }) }}

      </form>

      <div class="nhsuk-form-group">
        <p><a href="enter-your-address">Enter your address manually</a></p>
      </div>

    </div>
</div>

{% endblock %}