{% extends 'layout-upload-document.html' %}
{% block pageTitle %}
Contact the NHS Business Services Authority - NHSBSA
{% endblock %}
<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <div class="nhsuk-form-group">
      
      <form action="v5/which-service" method="post" novalidate>

      {{ radios({
        "idPrefix": "which-service",
        "name": "which-service",
        "fieldset": {
          "legend": {
            "text": "Which of our services are you contacting us about?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Apply for a job in the NHS (NHS Jobs)",
            "text": "Apply for a job in the NHS (NHS Jobs)",
            "hint": {
              "text": "Help and support for employers and jobseekers"
            }
          },
          {
            "value": "Check if you have an NHS exemption",
            "text": "Check if you have an NHS exemption",
            "hint": {
              "text": "Help to see if you have an exemption from paying NHS prescription and dental costs"
            }
          },
          {
            "value": "Get help to buy healthy food and milk (Healthy Start)",
            "text": "Get help to buy healthy food and milk (Healthy Start)",
            "hint": {
              "text": "Help and support for people who are pregnant or have a child under 4"
            }
          },
          {
            "value": "Get help with NHS costs (including prescription prepayment certificates)",
            "text": "Get help with NHS costs (including prescription prepayment certificates)",
            "hint": {
              "text": "Help with health costs for people who are on a low income, pregnant, or are on an elegible benefit etc..."
            }
          },
          {
            "value": "NHS Student Services",
            "text": "NHS Student Services",
            "hint": {
              "text": "Help and support for student and social work trainees"
            }
          },
          {
            "value": "NHS Pensions",
            "text": "NHS Pensions",
            "hint": {
              "text": "For members and employers of the NHS pension scheme"
            }
          },
          {
            "value": "Total Reward Statements",
            "text": "Total Reward Statements",
            "hint": {
              "text": "Help and support for NHS staff with their remuneration and benefits"
            }
          },
          {
            "value": "NHS Prescription Services (for healthcare professionals)",
            "text": "NHS Prescription Services (for healthcare professionals)",
            "hint": {
              "text": "Help and support for dispensing contractors"
            }
          },
          {
            "value": "NHS Dental Services (for healthcare professionals)",
            "text": "NHS Dental Services (for healthcare professionals)",
            "hint": {
              "text": "Help and support for dental professionals"
            }
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}