// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/cookies';
@import 'components/phase-banner';
@import 'components/service-contact';
@import 'components/file-upload';
@import 'components/autocomplete';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// Footer

.app-ogl-footer {
  background-color: #d8dde0
}

.app-ogl-footer--text {
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  padding-bottom: 24px;
  color: #4c6272;
  margin-bottom: 0;
  padding-bottom: 24px
}

@media (min-width: 40.0625em) {
  .app-ogl-footer--text {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5
  }
}

@media print {
  .app-ogl-footer--text {
      font-size: 14pt;
      line-height: 1.2
  }
}

@media (min-width: 40.0625em) {
  .app-ogl-footer--text {
      padding-bottom: 32px
  }
}

.app-ogl-footer--text svg {
  margin-right: 8px;
  position: relative;
  top: 2px
}

/*
HEADER - SIGNED IN
*/

.nhsuk-header__signedin-link {
    @include nhsuk-font(16);
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: $color_nhsuk-white;
    display: block;
    padding: 6px nhsuk-spacing(3);
    text-decoration: none;
  
    .nhsuk-icon__chevron-right {
      fill: $color_nhsuk-grey-3;
      position: absolute;
      right: nhsuk-spacing(1);
      top: 11px;
    }
  
    &:visited {
      @include mq($from: large-desktop) {
        color: $color_nhsuk-white;
      }
    }
  
    &:hover {
      background-color: $color_shade_nhsuk-blue-35;
      box-shadow: none;
      color: $color_nhsuk-white;
      text-decoration: underline;
  
      .nhsuk-icon__chevron-right {
        fill: $color_nhsuk-blue;
      }
  
    }
  
    &:active,
    &:focus {
      background-color: $nhsuk-focus-color;
      border-bottom: $nhsuk-focus-width solid $nhsuk-focus-text-color;
      box-shadow: none;
      color: $nhsuk-focus-text-color;
      outline: $nhsuk-focus-width solid transparent;
      outline-offset: $nhsuk-focus-width;
      text-decoration: none;
  
      &:hover {
        background-color: $nhsuk-focus-color;
        color: $nhsuk-focus-text-color;
      }
  
      &:visited {
        background-color: $nhsuk-focus-color;
        color: $nhsuk-focus-text-color;
      }
    }
  
  }

/*
EMAIL
*/

.email-message {
  margin-bottom: 30px;
  border: 1px solid $nhsuk-border-color;
  background: white;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  .email-message-meta {
    margin: 0;
    font-size: 19px;
    line-height: 25px;

    th {
      color: #505a5f;
      padding-left: 30px;
    }
    td:last-child {
      padding-right: 30px;
    }
  }
  .email-message-body {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 0 30px;
    margin: 0;
    clear: both;
    position: relative;
    word-wrap: break-word;
  }
}

.placeholder {
    display: inline;
    background: #fd0;
    color: #0b0c0c;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 11px;
    box-shadow: inset 0.47em 0 0 0 #fff, inset -0.47em 0 0 0 #fff, inset 0 -0.05em 0 0 #fff, inset 0 0.26em 0 0 #fff;
}

// ***********************************
// re-usable style for floating text to right
// ***********************************

.nhsbsa-guidance-steps {
  width: 100%;
  text-align: left;
  
  @include mq ($from: desktop) {
    width: 40%;
    float: right;
    text-align: right;
  }
}
.nhsbsa-guidance-title {
  width: 100%;
  
  @include mq ($from: desktop) {
    width: 60%;
    float: left;
  }
}

// ************************************
// index - key
// ************************************

@media (min-width:769px){
  .key-padding-left{
    padding-left:50px !important;
  }
}


// ************************************
// big blue box
// ************************************

.big-blue-box {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
}


.nhsuk-back-link{
  margin-bottom:16px;
  @media (min-width: 40.0625em) {
    margin-bottom:24px;
  }
}
