{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
Confirm that you want to delete this document - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v6/delete-your-document" method="post" novalidate>

        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">
          Confirm that you want to delete this document
        </h1>
        <p>Are you sure that you want to delete this uploaded document?</p>

        {{ insetText({
          html: "<p>Fake Form.pdf (PDF, 123KB)</p>"
        }) }}

        {{ radios({
          "idPrefix": "delete-your-document",
          "name": "delete-your-document",
          "classes": "nhsuk-radios--inline",
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

          {{ button({
          "text": "Continue",
          "classes": "nhsuk-u-margin-top-3"
          }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
