{% extends 'layout-upload-document.html' %}
{% block pageTitle %}
What is your NHS Pension query about? - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}
<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <div class="nhsuk-form-group">
      
      <form action="v6/nhs-pensions" method="post" novalidate>

      {{ radios({
        "idPrefix": "nhs-pensions",
        "name": "nhs-pensions",
        "fieldset": {
          "legend": {
            "text": "What is your NHS Pension query about?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Member query",
            "text": "Member query",
            "hint": {
              "text": "Queries from active or deferred members of the NHS Pension"
            }
          },
          {
            "value": "Employer query",
            "text": "Employer query",
            "hint": {
              "text": "Queries from an NHS employer"
            }
          },
          {
            "value": "Pensioner query",
            "text": "Pensioner query",
            "hint": {
              "text": "Queries from NHS pensioners, surviving spouses, partners, or dependants"
            }
          },
          {
            "value": "Payroll query",
            "text": "Payroll query",
            "hint": {
              "text": "Queries from finance staff"
            }
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}