{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
  Do you have a reference number? - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

  </div>
</div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v6/reference-number" method="post" novalidate>

      {{ radios({
        "idPrefix": "enter-reference-number",
        "name": "enter-reference-number",
        "classes": "nhsuk-radios--inline",
        "fieldset": {
          "legend": {
            "text": "Do you have a reference number?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "If you have contacted us before, you can find the reference number in our reply."
        },
        "items": [
          {
            "value": "Yes",
            "text": "Yes"
          },
          {
            "value": "No",
            "text": "No"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
