{% extends 'layout-contact.html' %}
{% set pageTitle = "What would you like to change?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}
<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/{{subfolder}}/type-of-change" method="post" novalidate>

      {{ radios({
        "idPrefix": "type-of-change",
        "name": "type-of-change",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Name",
            "text": "Name"
          },
          {
            "value": "Date of birth",
            "text": "Date of birth"
          },
          {
            "value": "Address",
            "text": "Address"
          },
          {
            "divider": "or"
          },
          {
            "value": "None of the above",
            "text": "None of the above"
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}