{% extends 'layout-contact.html' %}

{% block pageTitle %}
  What is your name? - Contact the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

  </div>
</div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v4/change/name/previous-name" method="post" novalidate>

      {% call fieldset({
        legend: {
          "html": '
          <h1 class="nhsuk-heading-l">
            What was your previous name?
          </h1>
          '
        }
      }) %}
      
        {{ input({
          label: {
            "html": 'Previous first name'
          },
          "id": "previousFirstName",
          "name": "previousFirstName",
          autocomplete: "given-name",
          spellcheck: false,
          "classes": "nhsuk-input--width-20"
        }) }}
      
        {{ input({
          label: {
            "html": 'Previous last name'
          },
          "id": "previousLastName",
          "name": "previousLastName",
          autocomplete: "family-name",
          spellcheck: false,
          "classes": "nhsuk-input--width-20"
        }) }}
      
      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
