{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    </div>
</div>

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 2</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">Where is your document?</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <p class="nhsuk-body-l">Do you already have the file on your laptop/desktop or do you need to take a photo of the document and transfer it to your laptop/desktop?</p>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

            <a href="step-by-step-guide-upload-step-3"><button class="nhsuk-button nhsuk-button--reverse"
                data-module="nhsuk-button">My document is on my computer</button></a>
            <br>
            <a href="step-by-step-guide-step-3"><button class="nhsuk-button nhsuk-button--reverse"
                data-module="nhsuk-button">I have a printed document</button></a>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/icon_laptop_desktop.svg"
                alt="Example of upload document">
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
        </div>
    </div>
</div>


{% endblock %}