{% extends 'layout-contact.html' %}
{% set pageTitle = "Do you need help with the NHS Jobs website?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>

      <p>If you are experiencing problems using our website please refer to our frequently asked questions below.</p>
    </div>

    <div class="nhsuk-u-reading-width">

      <h2 class="nhsuk-heading-l">FAQs</h2>
      <div class="nhsuk-expander-group">
        {{ details({
        classes: "nhsuk-expander",
        text: "I do not receive email alerts",
        HTML: "
        <p>work around example to go here</p>
        "
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "The distance filter on the search seems to be broken",
        HTML: "
        <p>work around example to go here</p>
        "
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "The search results don't match my search",
        HTML: "
        <p>work around example to go here</p>
        "
        }) }}
      </div>

      <h2 class="nhsuk-heading-m nhsuk-u-padding-top-7">Still have questions?</h2>
      <p>If you are experiencing a problem with the NHS Jobs website which is not list above please click the link below to send us a general enquiry and a member of our support team will get back to you within 2 working days.</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/{{folder}}/general/enter-your-name">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Send a general enquiry</span>
        </a>
      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Alternative contact methods
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Telephone:</strong> 0300 330 1013</p>
          <p>Current waiting time is <strong>20 minutes</strong></p>
          <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
              aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call
              charges​​​​​​</a></p>
          <p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
          <p>We aim to respond to your email within 2 working days.</p>
        </div>
      </details>

    </div>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}