{% extends 'layout-contact.html' %}
{% set pageTitle = "Are you having a problem logging in?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>

      <p>If you know your login details but are having a problem logging into the system you may be using the wrong website.</p>
      <p>We have two separate sites one for candidates and another for employers.</p>
    </div>

    <div class="nhsuk-u-reading-width">

      {% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}

      {{ warningCallout({
        heading: "Important",
        html: "<p>If your account was created before 31st May 2023 you will need to create a new account as the NHS Jobs website had been upgraded to a new system. </p>"
      }) }}

      <h2 class="nhsuk-heading-l">Select the site you require below:</h2>

      <ul class="nhsuk-grid-row nhsuk-list-group">
        <li class="nhsuk-grid-column-one-half nhsuk-list-group__item">
          <div class="nhsuk-list-item__content">
          <p><a href="https://www.jobs.nhs.uk/candidate" target="_blank" aria-label="Sign in as a candidate - opens in a new tab" class="nhsuk-u-padding-4">Candidates</a></p>
          {{chevronIcon|safe}}
        </div>
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-list-group__item">
          <div class="nhsuk-list-item__content">
          <p><a href="https://www.jobs.nhs.uk/employer/home" target="_blank" aria-label="Sign in as an employer - opens in a new tab" class="nhsuk-u-padding-4">Employers</a></p>
          {{chevronIcon|safe}}
        </div>
        </li>
      </ul>

    </div>

  </div>
</div>

{% endblock %}