{% extends 'layout-contact.html' %}
{% set pageTitle  = "What is your Employing Authority (EA) Code?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}} 
{% endblock %}

{% block content %}

{% set eaCode %}
  <h1 class="nhsuk-heading-l">
    {{pageTitle}}
  </h1>
  <div class="nhsuk-hint">
    For example, 'A123'
  </div>
{% endset -%}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {% set findCode %}
        <p>An EA code is a 4-digit number that identifies each employer in the NHS Pension Scheme.</p>
        <p>If you need to find your EA code, use the employing authority lookup tool. You will need to enter either your:</p>
        <ul>
        <li>organisations name</li>
        <li>organisations postcode.</li>
        </ul>
        {{ actionLink({
          text: "Go to Employing Authority Look-up (opens in a new tab)",
          href: "https://www.nhspensions.nhsbsa.nhs.uk/EmployerContactsLookup/EALookup.aspx",
          openInNewWindow: true
        }) }}
      {% endset %}

        <form action="/{{folder}}/enter-employing-authority-code" method="post" novalidate>
      
        {{ input({
          label: {
            "html": eaCode
          },
          "id": "enter-employing-authority-code",
          "name": "enter-employing-authority-code",
          "type": "text",
          "classes": "nhsuk-input--width-10"
        }) }}

        {{ details({
          summaryText: "How to find your Employing Authority (EA) code",
          html: findCode
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
