{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your phone number? (optional)"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/enter-your-phone-number" method="post" novalidate>

      {% call fieldset({
        legend: {
          "text": pageTitle,
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
      }) %}
      
        {{ input({
          label: {
            "html": 'Phone number'
          },
          hint: {
            html: "For international numbers include the country code<br />
For example 01632 960 001, +44 808 157 0192, +44 (078) 900 982, or +380 (44)-1234567"
          },
          "id": "phoneNumber",
          "name": "phoneNumber",
          spellcheck: false,
          "classes": "nhsuk-input--width-20"
        }) }}
      
      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
