{% extends 'layout-contact.html' %}
{% set pageTitle = "We are unable to help you online"%}

{% block pageTitle %}
{{serviceName}}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>
        {{pageTitle}} 
        </h1>

        <p>If your query relates to the job vacancy you're applying for, you'll need to contact the employer directly.</p>
        <p>You can find their contact information on the job advert.</p>

        {{ actionLink({
          text: "Go to NHS Jobs (opens in a new tab)",
          href: "https://www.jobs.nhs.uk/candidate/search",
          openInNewWindow: true
        }) }}

    </div>

  </div>
{% endblock %}
