{% extends 'layout-contact.html' %}
{% set pageTitle = "Which of our services are you contacting us about?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/which-service" method="post" novalidate>

      {{ radios({
        "idPrefix": "which-service",
        "name": "which-service",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
        {
          "value": "Prescription Prepayment Certificate (PPC)",
          "text": "Prescription Prepayment Certificate (PPC)",
          "hint": {
            "text": "Save money on NHS prescriptions by prepaying for them"
          }
        },
        {
          "value": "Hormone Replacement Therapy (HRT) Prescription Prepayment Certificate",
          "text": "Hormone Replacement Therapy (HRT) Prescription Prepayment Certificate",
          "hint": {
            "text": "Save money on NHS prescriptions by prepaying for them"
          }
        },
        {
          "value": "Prescription Exemption Checking",
          "text": "Prescription Exemption Checking",
          "hint": {
            "text": "Help with health costs for some people getting Child Tax Credit or Working Tax Credit"
          }
        },
        {
          "value": "Dental Exemption Checking",
          "text": "Dental Exemption Checking",
          "hint": {
            "text": "Help with health costs for people who are pregnant or have given birth in the last 12 months"
          }
        },
        {
          "value": "Maternity Exemption",
          "text": "Maternity Exemption",
          "hint": {
            "text": "Help with health costs for people who are pregnant or have given birth in the last 12 months"
          }
        },
        {
          "value": "Medical Exemption",
          "text": "Medical Exemption",
          "hint": {
            "text": "Help with health costs for people who have certain medical conditions"
          }
        },
        {
          "value": "Low Income Scheme",
          "text": "Low Income Scheme",
          "hint": {
            "text": "Help with health costs for people on a low income"
          }
        },
        {
          "value": "Tax Credit",
          "text": "Tax Credit",
          "hint": {
            "text": "Help with health costs for some people getting Child Tax Credit or Working Tax Credit"
          }
        },
        {
          "value": "Healthy Start",
          "text": "Healthy Start",
          "hint": {
            "text": "Help with the cost of healthy food and milk for people who are pregnant or have children under 4"
          }
        },
        {
          "value": "NHS Jobs",
          "text": "NHS Jobs",
          "hint": {
            "text": "Apply for a job and help and support for employers and jobseekers"
          }
        },
        {
          "value": "NHS Bursary (Medical and dental funding queries)",
          "text": "NHS Bursary (Medical and dental funding queries)",
          "hint": {
            "text": "Funding for students studying to become a doctor or dentist"
          }
        },
        {
          "value": "NHS Learning Support Fund (Healthcare student funding queries)",
          "text": "NHS Learning Support Fund (Healthcare student funding queries)",
          "hint": {
            "text": "Funding for nursing, midwifery and Allied Health Professional students"
          }
        },
        {
          "value": "Social Work Bursary (Social work funding queries)",
          "text": "Social Work Bursary (Social work funding queries)",
          "hint": {
            "text": "Funding for social work students"
          }
        },
        {
          "value": "My NHS Pension Portal Support",
          "text": "My NHS Pension Portal Support",
          "hint": {
            "text": "For members and employers of the NHS pension scheme"
          }
        },
        {
          "value": "My NHS Pension Registration",
          "text": "My NHS Pension Registration",
          "hint": {
            "text": "For members and employers of the NHS pension scheme"
          }
        },
        {
          "value": "TRS Employer",
          "text": "TRS Employer", 
          "hint": {
            "text": "Help and support for NHS staff with their Total Reward Statement remuneration and benefits"
          }
        },
        {
          "value": "Prescription Services (for healthcare professionals)",
          "text": "Prescription Services (for healthcare professionals)",
          "hint": {
            "text": "Prescribing and dispensing information for healthcare professionals"
          }
        },
        {
          "value": "Dental Services",
          "text": "Dental Services",
          "hint": {
            "text": "Help and support for dental professionals"
          }
        }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}