{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Employer" %}
{% set pageTitle = "Help with joining NHS Jobs and accessing existing account" %}
{% set buttonLink = "../enter-organisation-name" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}

    <p>Check you're using the correct NHS Jobs website.</p>
    <p>There are separate websites for job applicants and employers. If you're applying for jobs, use the applicant website. If you're an employer managing job adverts and applications, use the employer website.</p>

    <p>You are currently on the <strong>employer</strong> website.</p>
    
    {{ actionLink({
      text: 'Sign in as an employer (opens in new tab)',
      href: 'https://www.jobs.nhs.uk/employer/auth/login',
      classes: 'nhsuk-u-margin-bottom-0'
    }) }}

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l" />

{% endblock %}

{% block blueBoxExtras %}
  <p>Find answers to common questions about accessing and managing your account.</p>
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}



{% block serviceOptions %} 

    <!-- 

        I want to join NHS Jobs and advertise my jobs
        https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25652/en-us

        How do I access my account in NHS Jobs?
        https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25652/en-us

        I can’t login to my NHS Jobs account
        https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-28379/en-us

    -->

    {{ cardList( target="_blank", title="I want to join NHS Jobs and advertise my jobs", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25652/en-us" ) }}
    {{ cardList( target="_blank", title="How do I access my account in NHS Jobs?", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25652/en-us" ) }}
    {{ cardList( target="_blank", title="I can’t login to my NHS Jobs account", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-28379/en-us" ) }}

{% endblock %}
