{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Employer" %}
{% set pageTitle = "Help with creating and publishing a job listing" %}
{% set buttonLink = "../job-listing-reference" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}
    <p>Find answers to common questions about publishing a job listing.</p>
{% endblock %}

{% block blueBoxExtras %}
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}



{% block serviceOptions %} 

    <!-- 

        How do I create and publish a job listing?
        https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25631/en-us

        How do I create and publish a job listing from an applicant tracking system?
        https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-26554/en-us

    -->

    {{ cardList( target="_blank", title="How do I create and publish a job listing?", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25631/en-us" ) }}
    {{ cardList( target="_blank", title="How do I create and publish a job listing from an applicant tracking system?", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-26554/en-us" ) }}

{% endblock %}
