{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Employer" %}
{% set pageTitle = "Help with a problem with the website" %}
{% set buttonLink = "../enter-organisation-name" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}
      <p>If you need help with the NHS Jobs website, use the following help and support options.</p>
{% endblock %}

{% set blueBoxTitle = 'Common queries' %}

{% block blueBoxExtras %}
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}



{% block serviceOptions %} 

    <!-- 

        Can I change applicants shortlisted for interview?
        https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32022/en-us

        Can I remove a user from the shortlisting panel?
        https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32015/en-us

        Why my information not been saved?
        https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32017/en-us

    -->

    {{ cardList( target="_blank", title="Can I change applicants shortlisted for interview?", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32022/en-us" ) }}
    {{ cardList( target="_blank", title="Can I remove a user from the shortlisting panel?", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32015/en-us" ) }}
    {{ cardList( target="_blank", title="Why my information not been saved?", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32017/en-us" ) }}

{% endblock %}

{% block serviceExtras %}

    <h2 class="nhsuk-heading-m nhsuk-u-padding-top-7">Need more support?</h2>
    <p>Read our help and support options if your questions have not been answered through our common queries.</p>
    {{ actionLink({
      text: 'Help and support for employers (opens in new tab)',
      attributes: { target: '_blank' },
      href: 'https://www.nhsbsa.nhs.uk/nhs-jobs-help-and-support/help-and-support-employers'
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-padding-top-7">Can't find what you're looking for?</h2>
    <p>Send us an enquiry on this web form. We will reply within 2 working days.</p>

    {{ button({
      text: 'Start now',
      href: buttonLink,
      classes: 'nhsuk-u-margin-top-3'
    }) }}

    {% call details({
      summaryText: 'Alternative contact methods'
    }) %}
      
      <p>Telephone: <strong>0300 330 1013</strong></p>
      <p>Telephone outside UK: <strong>+44 300 330 1013</strong></p>

      <p><a target="_blank" class="nhsbsa-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out more about call charges (opens in new tab)</a></p>
      <p>We're available Monday to Friday between 8am to 6pm GMT/BST, except Bank Holidays including Christmas Day, Boxing Day and New Year's Day.</p>

    {% endcall %}

{% endblock %}
