{% extends 'layout-contact.html' %}
{% set pageTitle = "Speak to the stakeholder engagement team" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs: Employer</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>
      <p>The stakeholder engagement team build and maintain relationships with recruitment teams that use NHS Jobs. We work to understand our stakeholders and support their experience using the service.</p>
      <p>The team answer queries and identify opportunities for collaborative working. We also develop networks as well as share knowledge between organisations.</p>
      <p>Contact the stakeholder engagement team at <a href="mailto:nhsjobsengagement@nhsbsa.nhs.uk">nhsjobsengagement@nhsbsa.nhs.uk</a> to help with your query.</p>
     
      {% call details({
        summaryText: 'Alternative contact methods'
      }) %}
        
        <p>Telephone: <strong>0300 330 1013</strong></p>
        <p>Telephone outside UK: <strong>+44 300 330 1013</strong></p>

        <p><a target="_blank" class="nhsbsa-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out more about call charges (opens in new tab)</a></p>
        <p>We're available Monday to Friday between 8am to 6pm GMT/BST, except Bank Holidays including Christmas Day, Boxing Day and New Year's Day.</p>

      {% endcall %}

    </div>

    

  </div>
</div>

{% endblock %}