{% extends 'layout-contact.html' %}
{% set pageTitle = "Do you have an applicant reference number?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/applicant-reference" method="post" novalidate>

      {{ radios({
        "idPrefix": "applicant-reference",
        "name": "applicant-reference",
        "classes": "nhsuk-radios--inline",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "For example, AR-250619-06712"
        },
        "items": [ 
          {
            "value": "Yes",
            "text": "Yes"
          },
          {
            "value": "No",
            "text": "No"
          }
        ]
      }) }}

      {% call details({ summaryText: "How to find the applicant reference number" }) %}
        <p>You can find the applicant reference number below the applicants name within the job listing in your account. It's an 13-character code that starts with 'AR'.</p>
        <p><img class="nhsuk-image__img nhsuk-u-width-one-half" src="/assets/images/applicant-reference.png" alt="Example of where to find the applicant reference number"></p>
      {% endcall %}


      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
