{% extends 'layout-contact.html' %}
{% set pageTitle  = "What is your applicant reference number?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}} 
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/enter-applicant-reference" method="post" novalidate>

        {{ characterCount({
          name: 'enter-applicant-reference',
          id: 'enter-applicant-reference',
          maxlength: 500,
          classes: 'nhsuk-input--width-20',
          label: {
            text: pageTitle,
            size: 'l',
            isPageHeading: true
          },
          hint: {
            text: 'For example, AR-250619-06712. If you need to send us many reference numbers, add each one on a separate line.'
          }
        }) }}

        {% call details({ summaryText: "How to find the applicant reference number" }) %}
          <p>You can find the applicant reference number below the applicants name within the job listing in your account. It's an 13-character code that starts with 'AR'.</p>
            <p><img class="nhsuk-image__img nhsuk-u-width-one-half" src="/assets/images/applicant-reference.png" alt="Example of where to find the applicant reference number"></p>
        {% endcall %}

        {{ button({
          text: 'Continue'
        }) }}

      </form>

    </div>  
  </div>

{% endblock %}
