{% extends 'layout-contact.html' %}
{% set pageTitle  = "What is the job listing reference number?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}} 
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l">
    {{pageTitle}}
  </h1>
  <div class="nhsuk-hint">
    <p>For example, A0547-25-0005</p>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {% set findRef %}
            <p>You can find the reference number next to the job title in both 'Draft' and 'Pre-employment checks'. It’s an 11-character code that starts with 'A'.</p>
            <p><img class="nhsuk-image__img nhsuk-u-width-one-half" src="/images/job-ref-help.png" alt="Example of where to find the job reference number"></p>
      {% endset %}

        <form action="/{{folder}}/enter-job-listing-reference-number" method="post" novalidate>
      
        {{ input({
          label: {
            "html": jobListingReference
          },
          "id": "enter-job-listing-reference-number",
          "name": "enter-job-listing-reference-number",
          "type": "text",
          "classes": "nhsuk-input--width-10"
        }) }}

        {{ details({
          summaryText: "How to find the job reference number",
          html: findRef
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
