{% extends 'layout-contact.html' %}
{% set pageTitle = "What's your reason for contacting us?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  {% if data['select-your-query-nhs-jobs'] === 'Employer' %}
    {% set hintHTML %}
      <p><strong>Do not include personal or financial information.</strong></p>
    {% endset %}
  {% else %}
    {% set hintHTML %}
      
      {{ insetText({
        classes: 'nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4',
        text: 'You cannot apply for jobs by sending us your CV. To apply, use the application form in the job advert on the NHS Jobs website.'
      }) }}

      <p><strong>Do not include personal or financial information.</strong></p>
    {% endset %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/enter-additional-information" method="post" novalidate>

        {{ characterCount({
          name: "additionalInfo",
          id: "additionalInfo",
          maxlength: 4000,
          label: {
            text: "What is your reason for contacting us?",
            classes: "nhsuk-label--l",
            isPageHeading: "true"
          },
          hint: {
            html: hintHTML
          }
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
