{% extends 'layout-contact.html' %}
{% set pageTitle = "Do you have a job listing reference number?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/job-listing-reference" method="post" novalidate>

      {{ radios({
        "idPrefix": "job-listing-reference",
        "name": "job-listing-reference",
        "classes": "nhsuk-radios--inline",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "For example, A0547-25-0005"
        },
        "items": [ 
          {
            "value": "Yes",
            "text": "Yes"
          },
          {
            "value": "No",
            "text": "No"
          }
        ]
      }) }}

      {% call details({ summaryText: "How to find the job reference number" }) %}
            <p>You can find the reference number under the job title on your main dashboard. It is an 11-character code that starts with a letter.</p>
            <p><img class="nhsuk-image__img nhsuk-u-width-one-half" src="/assets/images/job-ref-applicant-help.png" alt="Example of where to find the job reference number"></p>
        {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
