{% extends 'layout-contact.html' %}
{% set pageTitle = "Help with managing a job offer" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>
      <p>If you need help managing a job offer, use the following help and support options.</p>

    </div>

    <div class="nhsuk-u-reading-width">

      <h2 class="nhsuk-heading-m">Common queries</h2>


      {% set contactEmployer %}
        <p>If you need to contact the employer directly you can find their contact information on the job advert.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="https://www.jobs.nhs.uk/candidate/search" target="_blank">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Go to NHS Jobs (opens in a new tab)</span>
          </a>
        </div>
      {% endset %}

      {% set preEmployment %}
        <p>If pre-employment checks are being completed online, you must complete the following:</p>
        <ul>
        <li>references</li>
        <li>home address</li>
        </ul>
        <p>If the job vacancy needs the details of your professional registration, you'll also need to provide this using the NHS jobs service.</p>
        <p>You must complete the following checks outside of the NHS Jobs service:</p>
        <ul>
        <li>identity check</li>
        <li>right to work in UK</li>
        <li>qualifications</li>
        <li>occupational health check</li>
        </ul>
        <p>You'll also need to provide details of Disclosure and Barring Service (DBS) and Healthcare Professional Alert Notices (HPANs) outside of the NHS Jobs service if they are needed.</p>
        <p>You must provide documents as evidence of your pre-employment checks with the employer.</p>
        <p>You're unable to upload any pre-employment documents directly to the NHS Jobs service. The employer will contact you to let you know how to provide your documents.</p>
        <p>If you have any questions about pre-employment documents, contact the employer.</p>
        <p>You can find their contact details on the right hand side of the vacancy advert.</p>
        <p><a title="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-employers" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
        <p>For bitesize video tutorials, <a title="https://www.youtube.com/@nhs_jobs_service?cbrd=1" href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
      {% endset %}
      
      <div class="nhsuk-expander-group">
        {{ details({
        classes: "nhsuk-expander",
        summaryText: "How do I send a query direct to the employer?",
        html: contactEmployer
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        summaryText: "Where do I send my pre-employment details?",
        html: preEmployment
        }) }}
      </div>

      <hr>

      <h2 class="nhsuk-heading-m">Can't find what you are looking for?</h2>

      <p>Read our knowledge base if your questions have not been answered through our common problems.</p>
      {{ actionLink({
        text: "NHSBSA knowledge base (opens in new tab)",
        href: "https://faq.nhsbsa.nhs.uk/knowledgebase/",
        openInNewWindow: "true"
      }) }}

      <hr>

      <h2 class="nhsuk-heading-m">Need more support?</h2>
      <p>You can send us a general enquiry. We will reply within 2 working days.</p>

      <form action="/{{folder}}/managing-a-job-offer" method="post" novalidate>

        {{ button({
        "text": "Start now",
        "classes": "nhsuk-u-margin-top-3"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Alternative contact methods
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Telephone:</strong> 0300 330 1013</p>
          <p>Current waiting time is <strong>20 minutes</strong></p>
          <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
              aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call
              charges​​​​​​</a></p>
          <p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
          <p>We aim to respond to your email within 2 working days.</p>
        </div>
      </details>

    </div>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}