{% extends 'layout-contact-service-v2.html' %}
{% set pageTitle = "Help for applicants using NHS Jobs" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}

    <p>Select the reason you're contacting us.</p>
    
{% endblock %}

{% set blueBoxTitle = 'Most common queries' %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}

{% set generalURL = '/' + folder + '/reference-number' %}

{% block serviceOptions %} 

    {{ serviceContactList(link="accessing-and-managing-your-account", title="Accessing and managing your account") }}
    {{ serviceContactList(link="searching-for-a-job", title="Searching for a job") }}
    {{ serviceContactList(link="completing-your-application", title="Completing your application") }}
    {{ serviceContactList(link="managing-your-application", title="Managing your application") }}
    {{ serviceContactList(link="problem-with-the-website", title="A problem with the website") }}
    {{ serviceContactList(link="application-support-email", title="Sending a CV") }}

{% endblock %}


{% block serviceExtras %}

    <h2 class="nhsuk-heading-m nhsuk-u-padding-top-7">Need more support?</h2>
    <p>Read our help and support options if your questions have not been answered through our common queries.</p>
    {{ actionLink({
      text: 'Help and support for applicants (opens in new tab)',
      attributes: { target: '_blank' },
      href: 'https://www.nhsbsa.nhs.uk/nhs-jobs-help-and-support/help-and-support-applicants'
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-padding-top-7">Can't find what you're looking for?</h2>
    <p>Send us an enquiry on this web form. We will reply within 2 working days.</p>

    {{ button({
      text: 'Start now',
      href: 'reference-number'
    }) }}

    {% call details({
      summaryText: 'Alternative contact methods'
    }) %}
      
      <p>Telephone: <strong>0300 330 1013</strong></p>
      <p>Telephone outside UK: <strong>+44 300 330 1013</strong></p>

      <p><a target="_blank" class="nhsbsa-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out more about call charges (opens in new tab)</a></p>
      <p>We're available Monday to Friday between 8am to 6pm GMT/BST, except Bank Holidays including Christmas Day, Boxing Day and New Year's Day.</p>

    {% endcall %}



{% endblock %}
