{% extends 'layout-contact.html' %}
{% set pageTitle = "Are you an applicant or an employer using NHS jobs?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-nhs-jobs" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-nhs-jobs",
        "name": "select-your-query-nhs-jobs",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "Employers and applicants can contact the NHS Jobs team. Employers should select 'employer', even for questions about applicants."
        },
        "items": [
        {
          "value": "Applicant",
          "text": "Applicant"
        },
        {
          "value": "Employer",
          "text": "Employer"
        }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>

{% endblock %}

{% set blueBoxTitle = 'I am a' %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}

{% block serviceOptions %}

    {{serviceContactList(link="nhs-jobs-candidate", title="Candidate")}}
    {{serviceContactList(link="nhs-jobs-employer", title="Employer")}}  

{% endblock %}
