{% extends 'layout-contact.html' %}
{% block pageTitle %}
Contact the NHS Business Services Authority - NHSBSA
{% endblock %}
<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <div class="nhsuk-form-group">
      
      <form action="v4/unsolicited/query-type" method="post" novalidate>

      {{ radios({
        "idPrefix": "query-type",
        "name": "query-type",
        "fieldset": {
          "legend": {
            "text": "What is your query about?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "General query",
            "text": "General query"
          },
          {
            "value": "Change of name, date of birth or address",
            "text": "Change of name, date of birth or address"
          },
          {
            "value": "Upload a document or evidence",
            "text": "Upload a document or evidence"
          },
          {
            "divider": "or"
          },
          {
            "value": "None of the above",
            "text": "None of the above"
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}