{% extends 'layout-contact.html' %}

{% block pageTitle %}
Contact the NHS Business Services Authority - NHSBSA 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
          Confirm your change of address
      </h1>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
        <p><span class="nhsuk-u-font-weight-bold">Previous address:</span>
          {% if (data['previousAddress']) and not (data['previous-address-line-1']) %}
            {{ data['previousAddress'] }}
          {% elif (data['previous-address-line-1']) and not (data['previousAddress']) %}
            {{data['previous-address-line-1']}} {{data['previous-address-line-2']}} {{data['previous-address-town']}} {{data['previous-address-county']}} {{data['previous-address-postcode']}}
          {% elif (data['previous-address-line-1']) and (data['previousAddress']) %}
            {{data['previous-address-line-1']}} {{data['previous-address-line-2']}} {{data['previous-address-town']}} {{data['previous-address-county']}} {{data['previous-address-postcode']}}
          {% else %}
            FRESHFIELD ROAD, BRIGHTON, EAST SUSSEX, BN2 9XZ
          {% endif %}
        </p>
        <p><span class="nhsuk-u-font-weight-bold">New address:</span> 
          {% if (data['newAddress']) and not (data['new-address-line-1']) %}
            {{ data['newAddress'] }}
          {% elif (data['new-address-line-1']) and not (data['newAddress']) %}
            {{data['new-address-line-1']}} {{data['new-address-line-2']}} {{data['new-address-town']}} {{data['new-address-county']}} {{data['new-address-postcode']}}
          {% elif (data['new-address-line-1']) and (data['newAddress']) %}
            {{data['new-address-line-1']}} {{data['new-address-line-2']}} {{data['new-address-town']}} {{data['new-address-county']}} {{data['new-address-postcode']}}
          {% else %}
            NORTH EAST STRATEGIC HEALTH AUTHORITY, 4 THE WATERFRONT, GOLDCREST WAY, NEWCASTLE UPON TYNE, NE15 8NY
          {% endif %}
        </p>
      </div>

      <form action="v4/change/address/confirm" method="post" novalidate>

        {{ radios({
          "idPrefix": "confirm-address",
          "name": "confirm-address",
          "classes": "nhsuk-radios--inline",
          "fieldset": {
            "legend": {
              "text": "Do you want to change this address?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>
</div>

{% endblock %}