{% extends 'layout-contact.html' %}

{% block pageTitle %}
Contact the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Check your answers</h1>

        <dl class="nhsuk-summary-list">

          {% if (data['which-service']) %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Service
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['which-service']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> which service you are contacting us about</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}

          {% if (data['which-service'] == "Check if you have an NHS exemption") %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHS exemption type
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['nhs-exemptions']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> which NHS exemption type you are contacting us about</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}

          {% if (data['which-service'] == "Get help with NHS costs (including prescription prepayment certificates)") %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Help with NHS costs type
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['help-with-nhs-costs']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> which type of help with NHS costs you are contacting us about</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}

          {% if (data['which-service'] == "NHS Student Services") %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHS Student Services type
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['nhs-student-services']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> which NHS Student Services type you are contacting us about</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}
        
          {% if (data['which-service'] == "NHS Pensions") %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHS Pension type
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['nhs-pensions']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> which NHS Pension type you are contacting us about</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}

          {% if (data['query-type']) %}
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Type of query
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['query-type']}}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> query type</span>
              </a>
        
            </dd>
        
          </div>

          {% endif %}
                
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Previous name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['previousFirstName']) and (data['previousLastName']) %}
              {{ data['previousFirstName']}} {{ data['previousLastName'] }}
              {% else %}
              Simon Jones
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> previous name</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['date-of-birth']) %}
              {{ data['date-of-birth'] }}
              {% else %}
              18 May 1985
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a>
        
            </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Address
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if (data['address']) %}
                {{ data['address'] }}
                {% else %}
                NHS BSA, STELLA HOUSE, GOLDCREST WAY, NEWCASTLE UPON TYNE, NE15 8NY
                {% endif %}
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> address</span>
                </a>
          
              </dd>
  
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  New name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if (data['newFirstName']) and (data['newLastName']) %}
                  {{ data['newFirstName']}} {{ data['newLastName'] }}
                  {% else %}
                  Stephen Jones
                  {% endif %}
                </dd>
            
                <dd class="nhsuk-summary-list__actions">
            
                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> new name</span>
                  </a>
            
                </dd>
            
              </div>
        
        </dl>

        <form action="v4/unsolicited/change/name/check-your-answers" method="post" novalidate>

        {{ button({
        "text": "Confirm and send",
        "classes": "nhsuk-u-margin-top-3"
        }) }}

        </form>

    </div>

  </div>
{% endblock %}
