{% extends 'layout-contact.html' %}

{% block pageTitle %}
Sorry, the service is unavailable - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
          Confirm your change of name
      </h1>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
        <p><span class="nhsuk-u-font-weight-bold">Previous name:</span> {% if (data['previousFirstName']) and (data['previousLastName']) %}{{ data['previousFirstName'] }} {{ data['previousLastName'] }}{% else %}Joseph Bloggs{% endif %}</p>
        <p><span class="nhsuk-u-font-weight-bold">New name:</span> {% if (data['newFirstName']) and (data['newLastName']) %}{{ data['newFirstName'] }} {{ data['newLastName'] }}{% else %}Joe Bloggs{% endif %}</p>
      </div>

      <form action="v4/unsolicited/change/name/confirm" method="post" novalidate>
  
        {{ button({
          "text": "Confirm and continue"
        }) }}
  
      </form>

    </div>
</div>

{% endblock %}