{% extends 'layout-contact.html' %} 
{% set pageTitle = "What is your previous date of birth?" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

  </div>
</div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/{{subfolder}}/date-of-birth/enter-previous-date-of-birth" method="post" novalidate>

        {{ dateInput({
          "id": "previous-date-of-birth",
          "namePrefix": "previous-date-of-birth",
          "fieldset": {
            "legend": {
              "text": pageTitle,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "For example, 31 3 1980"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
