{% extends 'layout-contact.html' %}
{% set pageTitle = "Sorry, the service is unavailable"%}
{% set hideBack = "true" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %} 

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-u-reading-width">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            {{pageTitle}}
        </h1>
        <p>
          Try again later.
        </p>
  
        <p>
          We will remove this notice when the service is available again.
        </p>
  
        <hr>
  
        <p>
          If you have an urgent query, contact the Social Work Bursary team on <a href="tel:03003301342">0300 330 1342</a>.<br>
          This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).
        </p>
  
        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
            target="_blank">Find out about call charges</a>
        </p>
  
        <p>
          Alternatively, you can email your documents to us <a class="nhsuk-link" href="mailto:nhsbsa.swb1@nhsbsa.nhs.uk">nhsbsa.swb1@nhsbsa.nhs.uk</a><br>
          We aim to respond to your email within 2 working days.
        </p>

    </div>
</div>

{% endblock %}