{% extends 'layout-contact.html' %}
{% set pageTitle = "Contact the NHS Business Services Authority"%}

{% block pageTitle %}
{{serviceName}}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

      <form action="/{{folder}}/which-service-search" method="post" novalidate>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading"> Which of our services are you contacting us about? </h1>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
              Enter key words or phrases of the service you would like to contact
            </div>
            <label class="nhsuk-label" for="my-autocomplete">NHSBSA Services</label>
            <div id="my-autocomplete-container"></div>
          </fieldset>
        </div>
        <button type="submit" class="nhsuk-button" data-module="nhsuk-button"> Continue </button>
      </form>

      <p>
        <a href="which-service">Can't find the service you are looking for?</a>
      </p>

    </div>

  </div>
{% endblock %}

{% block pageScripts %}
<script src="/js/nhsbsa-services.js"></script>
<script type="text/javascript">
  function customSuggest (query, syncResults) {
    syncResults(query
      ? service_options.filter(function (result) {
          var resultContains = result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1
          var endonymContains = result.endonym.toLowerCase().indexOf(query.toLowerCase()) !== -1
          return resultContains || endonymContains
        })
      : []
    )
  }

  function inputValueTemplate (result) {
    return result && result.name
  }

  function suggestionTemplate (result) {
    return result && result.name
  }

  element = document.querySelector('#my-autocomplete-container')
  id = 'myAutocomplete'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: customSuggest,
    templates: {
      inputValue: inputValueTemplate,
      suggestion: suggestionTemplate
    }
  })
</script>
{% endblock %}
