<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'details/macro.njk' import details %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="email-message">
      <table class="email-message-meta">
         <tbody>
            <tr>
               <th scope="row">From</th>
               <td>
                  NHS Penalty Charges
               </td>
            </tr>
            <tr>
               <th scope="row">To</th>
               <td>
                  <span class="placeholder-no-brackets">email@emailaddress.com</span>
               </td>
            </tr>
            <tr class="email-message-meta">
               <th scope="row">Subject</th>
               <td>
                  ACTION NEEDED: Evidence required of your NHS prescription exemption by 11 December 2023
               </td>
            </tr>
         </tbody>
      </table>
      <div class="email-message-body">
         <p>Dear Simon,</p>
         <p>Thank you for contacting us.</p>
         <p>If you have evidence showing you received a qualifying benefit or held a valid exemption on <strong>25 March 2023</strong> you can challenge your penalty charge notice (PCN).</p>
         <p>To be entitled to free NHS prescriptions you must:</p>
         <ul>
            <li>receive a qualifying benefit, or</li>
            <li>hold a valid exemption</li>
         </ul>
         <h3>How to upload</h3>
         <p>In order to upload your evidence we will ask you some personal details to verify it is you.</p>
         <p> You will also be asked for:</p>
         <ul>
            <li>the service your query is related to: <strong>Prescription exemption checking</strong></li>
            <li>your reference number: <strong>HDJ2423F</strong></li>
         </ul>
         <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="/v4/solicited/start-page">Send your evidence by <strong>11 December 2023</strong> to avoid further charges.</a></p>
          </div>
         <p>If you were not entitled, you’re required to pay these charges. Read <a href="https://www.nhsbsa.nhs.uk/respond-your-letter" target="_blank">how to pay on our website</a>.</p>
         <p>If you require any further assistance please contact us by telephone on 0300 330 9291.</p>
         <p>Kind regards,</p>
         <h3>NHS Penalty Charges</h3>
         <hr>
         <p>Our <a href="#">privacy statement</a> explains how we handle your information. Our <a href="#">information security</a> policy explains how we keep your information secure and steps you can take to protect your information.</p>
      </div>
   </div>

  </div>
</div>
{% endblock %}