{% extends 'layout-upload-document.html' %}
{% set pageTitle = "What you'll need" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    </div>
</div>

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 3 of 6</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">{{pageTitle}}</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <p class="nhsuk-body-l">The best way to get a paper document onto your computer is to take a photo of it.</p>
            <h3 class="nhsuk-heading-m">Find a camera</h3>
            <p class="nhsuk-u-margin-bottom-6">You can use anything that has a digital camera on it. For example, a mobile phone, tablet or digital camera.</p>
            <h3 class="nhsuk-heading-m">Find your document</h3>
            <p class="nhsuk-u-margin-bottom-6">Make sure it's flat.</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/how-to-upload-document-step-2.png"
                alt="Example of upload document">
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a href="take-your-photo"><button class="nhsuk-button nhsuk-button--reverse"
                    data-module="nhsuk-button">Continue</button></a>
        </div>
    </div>
</div>


{% endblock %}