{% extends 'layout-contact.html' %}

{% block pageTitle %}
  How can we help? - Contact the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

  </div>
</div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v4/general/how-can-we-help" method="post" novalidate>
      
      {{ textarea({
        "name": "how-can-we-help",
        "id": "how-can-we-help",
        "rows": "5",
        "label": {
          "text": "How can we help?",
          classes: "nhsuk-label--l",
          isPageHeading: true
        },
        "hint": {
            "text": "Do not include personal or financial information, for example, your National Insurance number or credit card details."
        }
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
