{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
You do not have permission to access this page - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">You do not have permission to access this page</h1>

    <p>
        Please check that you have permission to access this resource. 
    </p>

    <p>
        If you want to start again, you can <a href="/v5/start-page">create a new submission</a>.
    </p>

  </div>

</div>
{% endblock %}