{% extends 'layouts/layout-logged-in.html' %}

{% block pageTitle %}
You do not have permission to access this page - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            You do not have permission to access this page
        </h1>

        <p>
            Please check that you have permission to access this resource. 
        </p>

        <p>
            If you want to start again, you can <a href="../../unsolicited/contact-form">create a new submission</a>.
        </p>

    </div>
</div>

{% endblock %}