{% extends 'layout-contact.html' %}
{% set pageTitle  = "What is your reference number?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{% set referenceNumber %}
  <h1 class="nhsuk-heading-l">
    {{pageTitle}}
  </h1>
  <div class="nhsuk-hint">
    For example, 
    {% if (data['which-service'] == "Support with Healthcare Costs") %}
      {% if (data['select-your-query-healthcare-costs'] == "Prescription Prepayment Certificate (PPC)") %}
      10193121121 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-healthcare-costs'] == "Hormone Replacement Therapy (HRT) Prescription Prepayment Certificate") %}
      HRT11A11A11 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-healthcare-costs'] == "Low Income Scheme") %}
      2-W1K7G8C4 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-healthcare-costs'] == "Healthy Start") %}
      A0456Y7UH5 or NHS-1234567-ABC.
      {% endif %}
    {% elseif (data['which-service'] == "Support with Medical Exemptions and Penalty Charges") %}
      {% if (data['select-your-query-exemptions-charges'] == "Prescription Exemption Checking") %}
      01241111111 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-exemptions-charges'] == "Dental Exemption Checking") %}
      524311111111 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-exemptions-charges'] == "Maternity Exemption") %}
      10192311111 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-exemptions-charges'] == "Medical Exemption") %}
      10192311111 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-exemptions-charges'] == "Tax Credit") %}
      10194312111 or NHS-1234567-ABC.
      {% endif %}
    {% elseif (data['which-service'] == "Support for Students and Healthcare Professionals") %}
      {% if (data['select-your-query-students-healthcare-professionals'] == "NHS Bursary (Medical and dental funding queries)") %}
      BRN9999999, SSRN9999999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-students-healthcare-professionals'] == "NHS Learning Support Fund (Healthcare student funding queries)") %}
      PRN9999999.
      {% elseif (data['select-your-query-students-healthcare-professionals'] == "Dental Services") %}
      enter your personal id, e.g. 120653 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-students-healthcare-professionals'] == "Adult Social Care") %}
      H27-C813-3XF7-C or NHS-1234567-ABC.
      {% endif %}
    {% elseif (data['which-service'] == "Pensions and Employee Benefits") %}
      {% if (data['select-your-query-pensions-employee-benefits'] == "My NHS Pension Portal Support") %}
      SD69210000 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-pensions-employee-benefits'] == "My NHS Pension Registration") %}
      SD69210000 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-pensions-employee-benefits'] == "TRS Employer") %}
      SD69210000 or NHS-1234567-ABC.
      {% endif %}
    {% elseif (data['which-service'] == "NHS Careers and Volunteering") %}
      {% if (data['select-your-query-careers-volunteering'] == "NHS Jobs") %}
      the email address of the applicant or employer or Job Reference from website or NHS-1234567-ABC.
      {% elseif (data['select-your-query-careers-volunteering'] == "NHS Volunteering") %}
      enter the email address for recruiter or NHS-1234567-ABC.
      {% endif %}
    {% elseif (data['which-service'] == "Overseas Healthcare") %}
      {% if (data['select-your-query-overseas-healthcare'] == "UK European Health Insurance Card (EHIC)") %}
      87999999, 879999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "Immigration Health Surcharge (IHS)") %}
      IHS123456789 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "UK Global Health Insurance Card (GHIC)") %}
      87999999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "S1 Application") %}
      87999999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "S2 Application") %}
      87999999, 879999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "Provisional Replacement Certificate (PRC)") %}
      87999999 or NHS-1234567-ABC.
      {% elseif (data['select-your-query-overseas-healthcare'] == "Direct Claims") %}
      87999999 or NHS-1234567-ABC.
      {% endif %}
    {% else %}
    HDJ2423F or NHS-1234567-ABC.
    {% endif %}
  
    <!-- 
        NHS Jobs                    - Email address of applicant or employer or Job Reference from website
        Exemption (Dental)          - 524311111111
        Exemption (Prescription)    - 01241111111
        Healthy Start               - A0456Y7UH5
        Costs - LIS                 - 2-W1K7G8C4
        Costs - PPC                 - 10193121121
        Costs - Maternity Cert      - 10192311111
        Costs - Medical Cert        - 10192311111
        Costs - Tax credit Cert     - 10194312111
        Student Services - SB       - BRN9999999 or SSRN9999999
        Student Services - LSF      - PRN9999999
        Student Services - SC       - N/A
        NHS Pensions                - SD69210000
        Total Reward Statements     - SD69210000
        NHS Dental Services         - Personal ID: 120653
        NHS Prescription Services   - N/A
        HRT PPC                     - HRT11A11A11
        EHIC                        - 87999999 or 879999
        GHIC                        - 87999999
        IHS                         - IHS123456789
        S1 Application              - 87999999
        S2 Application              - 87999999 or 879999
        Provisional Replacement Cert- 87999999
        Direct Claims (OHS)         - 87999999
        Adult Social Care           - H27-C813-3XF7-C
        NHS Volunteering            - Email address for Recruiter
      -->
  </div>
{% endset -%}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="/{{folder}}/enter-reference-number" method="post" novalidate>
      
        {{ input({
          label: {
            "html": referenceNumber
          },
          "id": "enter-reference-number",
          "name": "enter-reference-number",
          "type": "text",
          "classes": "nhsuk-input--width-10"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
