{% extends 'layout-contact.html' %}
{% set pageTitle = "Do you know your membership number?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/membership-number" method="post" novalidate>

        {% set sdNumberHtml %}
          {{ input({
          id: "sdNumber",
          name: "sdNumber",
          classes: "nhsuk-input--width-10",
          label: {
          text: "Membership number"
          }
          }) }}
        {% endset -%}
  

      {{ radios({
        "idPrefix": "membership-number",
        "name": "membership-number",
        "classes": "nhsuk-radios--inline",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "For example, SD69210000"
        },
        "items": [ 
          {
            "value": "Yes, I know my membership number",
            "text": "Yes, I know my membership number",
            "conditional": {
            "html": sdNumberHtml
            }
          },
          {
            "value": "No, I do not know my membership number",
            "text": "No, I do not know my membership number"
          },
          {
            "value": "I'm not sure",
            "text": "I'm not sure"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
