{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your Overseas Healthcare query about?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-overseas-healthcare" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-overseas-healthcare",
        "name": "select-your-query-overseas-healthcare",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
        {
            "value": "UK European Health Insurance Card (EHIC)",
            "text": "UK European Health Insurance Card (EHIC)",
            "hint": {
              "text": "Help and support for any UK EHIC applications or renewals"
            }
          },
          {
            "value": "UK Global Health Insurance Card (GHIC)",
            "text": "UK Global Health Insurance Card (GHIC)",
            "hint": {
              "text": "Help and support for any UK GHIC applications or renewals"
            }
          },
          {
            "value": "Immigration Health Surcharge (IHS)",
            "text": "Immigration Health Surcharge (IHS)",
            "hint": {
              "text": "Applications for immigration health surcharge reimbursement"
            }
          },
          {
            "value": "Direct Claims",
            "text": "Direct Claims",
            "hint": {
              "text": "Help and support for claiming a refund for treatment costs"
            }
          },
          {
            "value": "S1 Application",
            "text": "S1 Application",
            "hint": {
              "text": "Help with any questions about an S1 entitlement"
            }
          },
          {
            "value": "S2 Application",
            "text": "S2 Application",
            "hint": {
              "text": "Help with any questions about an S2 entitlement"
            }
          },
          {
            "value": "Provisional Replacement Certificate (PRC)",
            "text": "Provisional Replacement Certificate (PRC)",
            "hint": {
              "text": "Help and support for PRC applications and entitlement"
            }
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}