{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your NHS careers and volunteering query about?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-careers-volunteering" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-careers-volunteering",
        "name": "select-your-query-careers-volunteering",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
        {
          "value": "NHS Jobs",
          "text": "NHS Jobs",
          "hint": {
            "text": "Apply for a job and help and support for employers and jobseekers"
          }
        },
        {
          "value": "NHS Volunteering",
          "text": "NHS Volunteering",
          "hint": {
            "text": "Helping recruiters create, publish and manage volunteering opportunities"
          }
        }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}