{% extends 'layout-contact.html' %}
{% set pageTitle = "Are you an employer or a member of the NHS Pension scheme?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-pensions-employee-benefits" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-pensions-employee-benefits",
        "name": "select-your-query-pensions-employee-benefits",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "NHS Pensions Member",
            "text": "NHS Pensions Member",
            "hint": {
              "text": "Help and support for members of the NHS Pension"
            }
          },
          {
            "value": "NHS Pensions Employer",
            "text": "NHS Pensions Employer", 
            "hint": {
              "text": "For general enquiries from employers about the NHS Pension"
            }
          }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}