{% extends 'layout-upload-document.html' %}

{% block pageTitle %}
What you'll need - Upload a document to the NHS Business Services Authority - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    </div>
</div>

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 2 of 5</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">What you'll need</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <p class="nhsuk-body-l">The best way to get a paper document onto your tablet or smart phone is to take a photo of it.</p>
            <h3 class="nhsuk-heading-m">Select 'Choose File'.</h3>
            <p class="nhsuk-u-margin-bottom-6">Your smart phone or tablet will now give you the option to either select an image or take a new photo of your paper document.</p>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6 nhsuk-u-padding-left-6 nhsuk-u-padding-right-6" src="/images/icon_tablet_phone.svg"
                alt="Tablet or Smart Phone">
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a href="take-your-photo"><button class="nhsuk-button nhsuk-button--reverse"
                    data-module="nhsuk-button">Continue</button></a>
        </div>
    </div>
</div>


{% endblock %}