{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your NHS Healthcare Professionals query about?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/select-your-query-healthcare-professionals" method="post" novalidate>

      {{ radios({
        "idPrefix": "select-your-query-healthcare-professionals",
        "name": "select-your-query-healthcare-professionals",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
        {
          "value": "NHS Prescription Services",
          "text": "NHS Prescription Services",
          "hint": {
            "text": "Prescribing and dispensing information for healthcare professionals"
          }
        },
        {
          "value": "NHS Dental Services",
          "text": "NHS Dental Services",
          "hint": {
            "text": "Help and support for dental professionals"
          }
        }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}