{% extends 'layout-contact.html' %}
{% set pageTitle = "We are unable to help you online"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <h1>{{pageTitle}}</h1>

    <p>If you are unsure which NHS Business Service Authority you need help with, contact our Customer Contact Centre on:</p>


  {{ insetText({
    html: "<p>Telephone: 0300 330 1013<br><br>
      This phoneline is available Monday to Friday, 8am - 6pm<br>(except public holidays)<br><br><a target=\"_blank\" href=\"/contact-us/call-charges-and-phone-numbers\">Find out about call charges (opens in a new tab)</a></p>"
  }) }}

  </div>



</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}