{% extends 'layout-contact.html' %}
{% set pageTitle = "What is your email address?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/{{subfolder}}/complaints/enter-your-email-address" method="post" novalidate>

      {% call fieldset({
        legend: {
          "text": pageTitle,
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
      }) %}
      
        {{ input({
          label: {
            "html": 'Email Address'
          },
          "id": "emailAddress",
          "name": "emailAddress",
          spellcheck: false,
          "classes": "nhsuk-input--width-20"
        }) }}
      
        {{ input({
          label: {
            "html": 'Confirm Email Address'
          },
          "id": "emailConfirm",
          "name": "emailConfirm",
          spellcheck: false,
          "classes": "nhsuk-input--width-20"
        }) }}
      
      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
