<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'details/macro.njk' import details %}
{% set hideBack = "true" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">
      <h1>
        Contact Centre Services (CCS)
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Contact the NHS Business Services Authority (NHSBSA)</span>
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>
      Versions
    </h2>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Contact us MVP
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p>Users found the process straightforward to follow through and liked the overall structure and layout.</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>This mvp uses the services which are currently listed on the NHSBSA Contact us form as they are and uses the same format but following GDS standards</li>
          <li>It has been decided that both solicited and unsolicited entry points should be the same. Both types of user will use the same link to the start page for the MVP - to be reviewed in future iterations.</li>
          <li>After selecting which service they wish to contact us about, users are then directed straight to the point of 'Do you have a reference number?' in order to complete their query. This is optional the process can be completed without a reference number.</li>
          <li>It has been decided that NHS Jobs will be included in the MVP, however it will not require the date of birth, address and file upload sections therefore they will be skipped.</li>
        </ul>
        <h3 class="nhsuk-heading-s">Error Messages</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="errors/no-permission-to-view-page">403 (Standard)</a></li>
          <li><a href="errors/specific/no-permission-to-view-page">403 (Out of Sequence)</a></li>
          <li><a href="errors/page-not-found">404</a></li>
          <li><a href="errors/problem-with-service">500</a></li>
          <li><a href="errors/service-is-unavailable">503 (Generic)</a></li>
          <li><a href="errors/specific/service-is-unavailable">503 (Specific)</a></li>
        </ul>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Service specific error messages
            </span>
          </summary>
          <div class="nhsuk-details__text">
            
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Prescription Prepayment Certificate (PPC)
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/ppc/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/ppc/404">404</a></li>
                  <li><a href="mvp/errors/ppc/500">500</a></li>
                  <li><a href="mvp/errors/ppc/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/ppc/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Hormone Replacement Therapy (HRT) Prescription Prepayment Certificate
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/hrt/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/hrt/404">404</a></li>
                  <li><a href="mvp/errors/hrt/500">500</a></li>
                  <li><a href="mvp/errors/hrt/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/hrt/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Prescription Exemption Checking
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/pecs/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/pecs/404">404</a></li>
                  <li><a href="mvp/errors/pecs/500">500</a></li>
                  <li><a href="mvp/errors/pecs/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/pecs/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Dental Exemption Checking
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/decs/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/decs/404">404</a></li>
                  <li><a href="mvp/errors/decs/500">500</a></li>
                  <li><a href="mvp/errors/decs/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/decs/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Maternity Exemption
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/matex/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/matex/404">404</a></li>
                  <li><a href="mvp/errors/matex/500">500</a></li>
                  <li><a href="mvp/errors/matex/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/matex/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Medical Exemption
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/medex/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/medex/404">404</a></li>
                  <li><a href="mvp/errors/medex/500">500</a></li>
                  <li><a href="mvp/errors/medex/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/medex/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Low Income Scheme
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/lis/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/lis/404">404</a></li>
                  <li><a href="mvp/errors/lis/500">500</a></li>
                  <li><a href="mvp/errors/lis/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/lis/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Tax Credit
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/tax-credits/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/tax-credits/404">404</a></li>
                  <li><a href="mvp/errors/tax-credits/500">500</a></li>
                  <li><a href="mvp/errors/tax-credits/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/tax-credits/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Healthy Start
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/healthy-start/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/healthy-start/404">404</a></li>
                  <li><a href="mvp/errors/healthy-start/500">500</a></li>
                  <li><a href="mvp/errors/healthy-start/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/healthy-start/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  NHS Jobs
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/nhs-jobs/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/nhs-jobs/404">404</a></li>
                  <li><a href="mvp/errors/nhs-jobs/500">500</a></li>
                  <li><a href="mvp/errors/nhs-jobs/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/nhs-jobs/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  NHS Bursary (Medical and dental funding queries)
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/sb/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/sb/404">404</a></li>
                  <li><a href="mvp/errors/sb/500">500</a></li>
                  <li><a href="mvp/errors/sb/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/sb/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  NHS Learning Support Fund (Healthcare student funding queries)
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/lsf/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/lsf/404">404</a></li>
                  <li><a href="mvp/errors/lsf/500">500</a></li>
                  <li><a href="mvp/errors/lsf/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/lsf/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Social Work Bursary (Social work funding queries)
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/swb/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/swb/404">404</a></li>
                  <li><a href="mvp/errors/swb/500">500</a></li>
                  <li><a href="mvp/errors/swb/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/swb/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  My NHS Pension Portal Support
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/pension/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/pension/404">404</a></li>
                  <li><a href="mvp/errors/pension/500">500</a></li>
                  <li><a href="mvp/errors/pension/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/pension/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  My NHS Pension Registration
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/pension/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/pension/404">404</a></li>
                  <li><a href="mvp/errors/pension/500">500</a></li>
                  <li><a href="mvp/errors/pension/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/pension/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  TRS Employer
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/trs-employer/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/trs-employer/404">404</a></li>
                  <li><a href="mvp/errors/trs-employer/500">500</a></li>
                  <li><a href="mvp/errors/trs-employer/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/trs-employer/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Prescription Services (for healthcare professionals)
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/prescription-services/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/prescription-services/404">404</a></li>
                  <li><a href="mvp/errors/prescription-services/500">500</a></li>
                  <li><a href="mvp/errors/prescription-services/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/prescription-services/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Dental Services
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/dental-services/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/dental-services/404">404</a></li>
                  <li><a href="mvp/errors/dental-services/500">500</a></li>
                  <li><a href="mvp/errors/dental-services/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/dental-services/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
          
        
          </div>
        </details>

        <h3 class="nhsuk-heading-s">Cookies</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="cookies/start-page">Cookie Banner</a></li>
          <li><a href="cookies/cookies">Essential Cookies</a></li>
          <li><a href="cookies/cookie-declaration">Change Non-Essential Cookies</a></li>
          <li><a href="cookies/cookie-confirmation">Cookies - Confirmation page</a></li>
        </ul> 
        
        <hr>
        {{ button({
          "text": "View MVP",
          "href": "/mvp/start"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVNkuW8IQ=/?share_link_id=692855171704"
        }) }}
      </div>
    </details>
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Contact us Iteration 1
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--blue">DESIGN</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p>TBC</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>Iteration 1 uses the services which are currently listed on the NHSBSA Contact us form as per the MVP however they have been categorised to reduce the amount of radios on one screen from 18 down to 6, this is to be user tested to ensure users can find the correct service relating to their query.</li>
        </ul>
        <h3 class="nhsuk-heading-s">Error Messages</h3>
        <p>See the MVP</p>
        <h3 class="nhsuk-heading-s">Cookies</h3>
        <p>See the MVP</p>
        
        <hr>
        {{ button({
          "text": "View Iteration 1",
          "href": "/iteration-1/start"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (Iteration 1)",
          "href": "https://miro.com/app/board/uXjVIWIiuh0=/?share_link_id=290015268545"
        }) }}
      </div>
    </details>

    <hr>

    <details class="nhsuk-details nhsuk-expander">  <!-- Early Drafts -->
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Archive
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS (v0.1)
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            {{ button({
              "text": "View Unsolicited Prototype - No Login - (MVP)",
              "href": "/v1/hub-page"
            }) }}
            {{ button({
              "text": "View Unsolicited Prototype - NHS Login - (MVP)",
              "href": "/v1/hub-page"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (MVP)",
              "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
            }) }}
          </div>
        </details>
    
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS (v0.2)
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <ul>
              <li>Split request into 2 parts; unsolicited and solicited.</li>
            </ul>
            <h4 class="nhsuk-heading-xs">Unsolicited</h4>
            <ul>
              <li>Shortened the journey for MVP, starting from the existing contact us page</li>
              <li>Adding the ability to upload a document to the contact form</li>
              <li>Amended the layout of the contact form to bring it inline with design standards</li>
            </ul>
            <h4 class="nhsuk-heading-xs">Solicited</h4>
            <ul>
              <li>Shortened the journey for MVP, starting from the existing email templates, which hae been amended</li>
              <li>Allowing users to upload documents securley through a secure link in the email</li>
            </ul>
            <hr>
            {{ button({
              "text": "View Unsolicited Prototype (MVP)",
              "href": "/v2/unsolicited/contact-form"
            }) }}
            {{ button({
              "text": "View Solicited Prototype (MVP)",
              "href": "/v2/solicited/landing-page"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (MVP)",
              "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
            }) }}
          </div>
        </details>
    
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS (v0.3)
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Error Messages</h3>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  DECS
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/decs/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/decs/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/decs/404">404</a></li>
                  <li><a href="mvp/errors/decs/500">500</a></li>
                  <li><a href="mvp/errors/decs/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/decs/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Dental Services
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/dental-services/">403 (Standard)</a></li>
                  <li><a href="mvp/errors/dental-services/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/dental-services/404">404</a></li>
                  <li><a href="mvp/errors/dental-services/500">500</a></li>
                  <li><a href="mvp/errors/dental-services/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/dental-services/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  HRT
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/hrt/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/hrt/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/hrt/404">404</a></li>
                  <li><a href="mvp/errors/hrt/500">500</a></li>
                  <li><a href="mvp/errors/hrt/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/hrt/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  LIS
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/lis/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/lis/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/lis/404">404</a></li>
                  <li><a href="mvp/errors/lis/500">500</a></li>
                  <li><a href="mvp/errors/lis/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/lis/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  LSF
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/lsf/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/lsf/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/lsf/404">404</a></li>
                  <li><a href="mvp/errors/lsf/500">500</a></li>
                  <li><a href="mvp/errors/lsf/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/lsf/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Matex
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/matex/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/matex/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/matex/404">404</a></li>
                  <li><a href="mvp/errors/matex/500">500</a></li>
                  <li><a href="mvp/errors/matex/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/matex/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Medex
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/medex/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/medex/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/medex/404">404</a></li>
                  <li><a href="mvp/errors/medex/500">500</a></li>
                  <li><a href="mvp/errors/medex/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/medex/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  PECS
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/pecs/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/pecs/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/pecs/404">404</a></li>
                  <li><a href="mvp/errors/pecs/500">500</a></li>
                  <li><a href="mvp/errors/pecs/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/pecs/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  My NHS Pension
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/pension/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/pension/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/pension/404">404</a></li>
                  <li><a href="mvp/errors/pension/500">500</a></li>
                  <li><a href="mvp/errors/pension/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/pension/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  PPC
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/ppc/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/ppc/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/ppc/404">404</a></li>
                  <li><a href="mvp/errors/ppc/500">500</a></li>
                  <li><a href="mvp/errors/ppc/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/ppc/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Prescription Services
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/prescription-services/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/prescription-services/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/prescription-services/404">404</a></li>
                  <li><a href="mvp/errors/prescription-services/500">500</a></li>
                  <li><a href="mvp/errors/prescription-services/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/prescription-services/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Student Bursary
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/sb/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/sb/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/sb/404">404</a></li>
                  <li><a href="mvp/errors/sb/500">500</a></li>
                  <li><a href="mvp/errors/sb/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/sb/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Social Work Bursary
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/swb/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/swb/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/swb/404">404</a></li>
                  <li><a href="mvp/errors/swb/500">500</a></li>
                  <li><a href="mvp/errors/swb/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/swb/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Tax Credits
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/tax-credits/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/tax-credits/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/tax-credits/404">404</a></li>
                  <li><a href="mvp/errors/tax-credits/500">500</a></li>
                  <li><a href="mvp/errors/tax-credits/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/tax-credits/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  TRS Employer
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="mvp/errors/trs-employer/403">403 (Standard)</a></li>
                  <li><a href="mvp/errors/trs-employer/403-sequence">403 (Out of Sequence)</a></li>
                  <li><a href="mvp/errors/trs-employer/404">404</a></li>
                  <li><a href="mvp/errors/trs-employer/500">500</a></li>
                  <li><a href="mvp/errors/trs-employer/503-generic">503 (Generic)</a></li>
                  <li><a href="mvp/errors/trs-employer/503-specific">503 (Specific)</a></li>
                </ul>
              </div>
            </details>
            <hr>
            {{ button({
              "text": "View Unsolicited Prototype (MVP)",
              "href": "/v3/unsolicited/contact-form"
            }) }}
            {{ button({
              "text": "View Solicited Prototype (MVP)",
              "href": "/v3/solicited/landing-page"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (To Be)",
              "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
            }) }}
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS MVP (Simplified)
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p>Users found the process straightforward to follow through, one of the participants had difficulty with the document upload process and would like the guide to be clearer. Overall feedback was positive. Users did suggest possibly having a preferred contact method towards the end of the journey as they weren't sure how they would be contacted to confirm their submission.</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <ul>
              <li>It has been decided that both solicited and unsolicited entry points should be the same. Both types of user will use the same link to the start page.</li>
              <li>This iteration is a stripped back version of previous drafts with its main focus being on document upload.</li>
              <li>After selecting which service they wish to contact us about, users are then directed straight to the point of 'Do you have a reference number?' in order to complete the document upload process. </li>
            </ul>
            <h3 class="nhsuk-heading-s">Error Messages</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="errors/no-permission-to-view-page">403 (Standard)</a></li>
              <li><a href="errors/specific/no-permission-to-view-page">403 (Out of Sequence)</a></li>
              <li><a href="errors/page-not-found">404</a></li>
              <li><a href="errors/problem-with-service">500</a></li>
              <li><a href="errors/service-is-unavailable">503 (Generic)</a></li>
              <li><a href="errors/specific/service-is-unavailable">503 (Specific)</a></li>
            </ul>
            <h3 class="nhsuk-heading-s">Cookies</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="cookies/start-page">Cookie Banner</a></li>
              <li><a href="cookies/cookies">Essential Cookies</a></li>
              <li><a href="cookies/cookie-declaration">Change Non-Essential Cookies</a></li>
            </ul> 
            
            <hr>
            {{ button({
              "text": "View Prototype",
              "href": "/v5/start"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (MVP)",
              "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
            }) }}
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS MVP (Simplified) Iteration 1
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <ul>
              <li>Added a preferred method of contact for users to choose how they wish to receive confirmation if by email, by phone or by text message.</li>
              <li>Confirmation of the preferred contact method has also been included in the final confirmation success page.</li>
            </ul>
            
            <hr>
            {{ button({
              "text": "View Prototype",
              "href": "/v6/start"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (MVP)",
              "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
            }) }}
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  CCS 'To Be' Version
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <h4>Solicited</h4>
            <ul>
              <li>Building on previous drafts, the entry point for the solicited service will come via a notification sent by CCS (email, letter or SMS).</li>
              <li>Email and SMS will contain a link to the specific point in the journey which will allow the citizen to enter their reference number, name, date of birth and address. Once supplied, they can upload their requested documents.</li>
              <li>Letter should contain a short link to the root of the service which will allow them to select which service they are contacting us about, what they want to do (upload a document or evidence) and supply their personal details and upload their requested documents.</li>
            </ul>
            <h4>Unsolicited</h4>
            <ul>
              <li>Building on previous drafts, the entry point for the unsolicited service will come via each service page on the NHSBSA website (a start page is also available if users come via another source or service variable isn't found in the URL).</li>
              <li>After selecting which service they wish to contact us about, users are then given 3 options:</li>
              <ol>
                <li>General query</li>
                <li>Change name, date of birth or address</li>
                <li>Upload document or evidence</li>
              </ol>
            </ul>
            <hr>
            {{ button({
              "text": "View Solicited Entry",
              "href": "/v4/email"
            }) }}
            {{ button({
              "text": "View Unsolicited Entry",
              "href": "/v4/start"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (MVP)",
              "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
            }) }}
          </div>
        </details>


        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  Contact us 'To be' - Iteration 1 
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <h4>Unsolicited</h4>
            <ul>
              <li>Building on previous drafts, the journey for the PPC service has been expanded further to accommodate additional requirements:</li>
              <ol>
                <li>General query</li>
                <li>Change name, date of birth or address</li>
                <li>Upload document or evidence</li>
                <li>Request replacement certificate</li>
                <li>Additional information</li>
              </ol>
            </ul>
            <hr>
            {{ button({
              "text": "View Solicited Entry",
              "href": "/v7/email"
            }) }}
            <br>
            {{ button({
              "text": "View Unsolicited Entry - A",
              "href": "/v7/start"
            }) }}
            {{ button({
              "text": "View Unsolicited Entry - B",
              "href": "/v7-b/start"
            }) }}
            {{ actionLink({
              "classes": "nhsuk-u-margin-bottom-3",
              "text": "View user journey (To Be Iteration 1)",
              "href": "#"
            }) }}
          </div>
        </details>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Contact us MVP User Research
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p>Users found the process straightforward to follow through, one of the participants had difficulty with the document upload process and would like the guide to be clearer. Overall feedback was positive. Users did suggest possibly having a preferred contact method towards the end of the journey as they weren't sure how they would be contacted to confirm their submission.</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>It has been decided that both solicited and unsolicited entry points should be the same. Both types of user will use the same link to the start page.</li>
          <li>This iteration is a stripped back version of previous drafts with its main focus being on document upload and general contact.</li>
          <li>After selecting which service they wish to contact us about, users are then directed straight to the point of 'Do you have a reference number?' in order to complete the document upload process. This is optional the process can be completed without a reference number.</li>
        </ul>
        <h3 class="nhsuk-heading-s">Error Messages</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="errors/no-permission-to-view-page">403 (Standard)</a></li>
          <li><a href="errors/specific/no-permission-to-view-page">403 (Out of Sequence)</a></li>
          <li><a href="errors/page-not-found">404</a></li>
          <li><a href="errors/problem-with-service">500</a></li>
          <li><a href="errors/service-is-unavailable">503 (Generic)</a></li>
          <li><a href="errors/specific/service-is-unavailable">503 (Specific)</a></li>
        </ul>
        <h3 class="nhsuk-heading-s">Cookies</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="cookies/start-page">Cookie Banner</a></li>
          <li><a href="cookies/cookies">Essential Cookies</a></li>
          <li><a href="cookies/cookie-declaration">Change Non-Essential Cookies</a></li>
        </ul> 
        <h3 class="nhsuk-heading-s">A/B Testing</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><b>Prototype A</b> - Which Service Radio Buttons</li>
          <li><b>Prototype B</b> - Which Service Autocomplete</li>
        </ul> 


        
        <hr>
        {{ button({
          "text": "View Prototype A",
          "href": "/mvp-ur/start"
        }) }}
        {{ button({
          "text": "View Prototype B",
          "href": "/mvp-autocomplete/start"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVNkuW8IQ=/?share_link_id=692855171704"
        }) }}
      </div>
    </details>
      </div>
    </details>

    <hr>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="https://bsa2468.atlassian.net/l/cp/Qdc1uvi0" target="_blank" aria-label="UCD Log in Confluence - opens in a new tab">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Read UCD Log</span>
      </a>
    </div>

    

  </div>
  <div class="nhsuk-grid-column-one-third key-padding-left">
      <h3>Key</h2>
      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--blue  nhsuk-u-font-size-14">DESIGN</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are still being designed</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-font-size-14">UR</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently with UR for usability testing</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-font-size-14">DEV</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently in development</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--red  nhsuk-u-font-size-14">RETIRED</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version have been retired and replaced with new prototypes and Miro boards</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}