<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'details/macro.njk' import details %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      Contact Centre Services (CCS)
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Contact methods</span>
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->





    <h2>
      Versions
    </h2>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Sprint 1 - Document upload

        </span>
        <strong class="nhsuk-tag nhsuk-tag--grey" style="float: right;">
          DRAFT
        </strong>
      </summary>
      <div class="nhsuk-details__text">
        <div>

          <h3 class="nhsuk-heading-s">
            Information and documents related to the design
          </h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li style="list-style-type: disc; padding-left: 4px; margin-bottom: 8px; margin-left: 23px;"><a
                href="https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14">Miro board</a>
            </li>

          </ul>



          <h3 class="nhsuk-heading-s">User research</h3>

          <p class="nhsuk-body">[User need, UR/recommendation summary]</p>


          <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>[this should detail changes to certain pages or overall journey]</li>
            <li></li>
            <li></li>
          </ul>

        </div>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="v1/hub-page">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Go to prototype</span>
          </a>
        </div>

        <a href="./v1/hub-page-nhs-login">Journey with NHS login screens</a>

      </div>
    </details>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Sprint 2 - Document upload

        </span>
        <strong class="nhsuk-tag nhsuk-tag--grey" style="float: right;">
          DRAFT
        </strong>
      </summary>
      <div class="nhsuk-details__text">
        <div>

          <h3 class="nhsuk-heading-s">
            Information and documents related to the design
          </h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li style="list-style-type: disc; padding-left: 4px; margin-bottom: 8px; margin-left: 23px;"><a
                href="https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14">Miro board</a>
            </li>

          </ul>



          <h3 class="nhsuk-heading-s">User research</h3>

          <p class="nhsuk-body">[User need, UR/recommendation summary]</p>


          <h3 class="nhsuk-heading-s">Changes from previous iteration - Unsolicited</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Shortened the journey for MVP, starting from the existing contact us page</li>
            <li>Adding the ability to upload a document to the contact form</li>
            <li>Amended the layout of the contact form to bring it inline with design standards</li>
          </ul>

          <h3 class="nhsuk-heading-s">Changes from previous iteration - Solicited</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Shortened the journey for MVP, starting from the existing email templates, which hae been amended</li>
            <li>Allowing users to upload documents securley through a secure link in the email</li>

          </ul>

        </div>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="v2/unsolicited/contact-form">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Go to prototype - Unsolicited</span>
          </a>
        </div>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="v2/solicited/landing-page">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Go to prototype - Solicited</span>
          </a>
        </div>

        <a href="#"></a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Sprint 3 - Document upload

        </span>
        <strong class="nhsuk-tag" style="float: right;">
          MVP
        </strong>
      </summary>
      <div class="nhsuk-details__text">
        <div>

          <h3 class="nhsuk-heading-s">
            Information and documents related to the design
          </h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li style="list-style-type: disc; padding-left: 4px; margin-bottom: 8px; margin-left: 23px;"><a
                href="https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14">Miro board</a>
            </li>

          </ul>



          <h3 class="nhsuk-heading-s">User research</h3>

          <p class="nhsuk-body">[User need, UR/recommendation summary]</p>


          <h3 class="nhsuk-heading-s">Changes from previous iteration - Unsolicited</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>N/A</li>
          </ul>

          <h3 class="nhsuk-heading-s">Changes from previous iteration - Solicited</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Moved 'Which service are you contacting us about?' page to the beginning of the journey to ensure any error pages are as helpful as possible</li>
          </ul>

        </div>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="v3/unsolicited/contact-form">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Go to prototype - Unsolicited</span>
          </a>
        </div>

        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="v3/solicited/landing-page">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Go to prototype - Solicited</span>
          </a>
        </div>

        <hr>

        <h4 class="nhsuk-heading-s">Error Messages</h4>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              DECS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/decs/403">403 (Standard)</a></li>
              <li><a href="v3/errors/decs/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/decs/404">404</a></li>
              <li><a href="v3/errors/decs/500">500</a></li>
              <li><a href="v3/errors/decs/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/decs/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Dental Services
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/dental-services/">403 (Standard)</a></li>
              <li><a href="v3/errors/dental-services/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/dental-services/404">404</a></li>
              <li><a href="v3/errors/dental-services/500">500</a></li>
              <li><a href="v3/errors/dental-services/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/dental-services/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              HRT
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/hrt/403">403 (Standard)</a></li>
              <li><a href="v3/errors/hrt/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/hrt/404">404</a></li>
              <li><a href="v3/errors/hrt/500">500</a></li>
              <li><a href="v3/errors/hrt/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/hrt/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              LIS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/lis/403">403 (Standard)</a></li>
              <li><a href="v3/errors/lis/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/lis/404">404</a></li>
              <li><a href="v3/errors/lis/500">500</a></li>
              <li><a href="v3/errors/lis/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/lis/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              LSF
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/lsf/403">403 (Standard)</a></li>
              <li><a href="v3/errors/lsf/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/lsf/404">404</a></li>
              <li><a href="v3/errors/lsf/500">500</a></li>
              <li><a href="v3/errors/lsf/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/lsf/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Matex
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/matex/403">403 (Standard)</a></li>
              <li><a href="v3/errors/matex/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/matex/404">404</a></li>
              <li><a href="v3/errors/matex/500">500</a></li>
              <li><a href="v3/errors/matex/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/matex/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Medex
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/medex/403">403 (Standard)</a></li>
              <li><a href="v3/errors/medex/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/medex/404">404</a></li>
              <li><a href="v3/errors/medex/500">500</a></li>
              <li><a href="v3/errors/medex/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/medex/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              PECS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/pecs/403">403 (Standard)</a></li>
              <li><a href="v3/errors/pecs/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/pecs/404">404</a></li>
              <li><a href="v3/errors/pecs/500">500</a></li>
              <li><a href="v3/errors/pecs/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/pecs/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              My NHS Pension
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/pension/403">403 (Standard)</a></li>
              <li><a href="v3/errors/pension/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/pension/404">404</a></li>
              <li><a href="v3/errors/pension/500">500</a></li>
              <li><a href="v3/errors/pension/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/pension/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              PPC
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/ppc/403">403 (Standard)</a></li>
              <li><a href="v3/errors/ppc/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/ppc/404">404</a></li>
              <li><a href="v3/errors/ppc/500">500</a></li>
              <li><a href="v3/errors/ppc/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/ppc/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Prescription Services
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/prescription-services/403">403 (Standard)</a></li>
              <li><a href="v3/errors/prescription-services/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/prescription-services/404">404</a></li>
              <li><a href="v3/errors/prescription-services/500">500</a></li>
              <li><a href="v3/errors/prescription-services/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/prescription-services/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              SB
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/sb/403">403 (Standard)</a></li>
              <li><a href="v3/errors/sb/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/sb/404">404</a></li>
              <li><a href="v3/errors/sb/500">500</a></li>
              <li><a href="v3/errors/sb/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/sb/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              SWB
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/swb/403">403 (Standard)</a></li>
              <li><a href="v3/errors/swb/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/swb/404">404</a></li>
              <li><a href="v3/errors/swb/500">500</a></li>
              <li><a href="v3/errors/swb/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/swb/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Tax Credits
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/tax-credits/403">403 (Standard)</a></li>
              <li><a href="v3/errors/tax-credits/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/tax-credits/404">404</a></li>
              <li><a href="v3/errors/tax-credits/500">500</a></li>
              <li><a href="v3/errors/tax-credits/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/tax-credits/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              TRS Employer
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/trs-employer/403">403 (Standard)</a></li>
              <li><a href="v3/errors/trs-employer/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/trs-employer/404">404</a></li>
              <li><a href="v3/errors/trs-employer/500">500</a></li>
              <li><a href="v3/errors/trs-employer/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/trs-employer/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>

        

      </div>
    </details>




    <!-- 
      <h2>
       Resources 
      </h2>

      <p>Template to <a href="add-iteration-template">add a design iteration to the prototype</a></p>

-->





  </div>
</div>
{% endblock %}