<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'details/macro.njk' import details %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contact the NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      Contact Centre Services (CCS)
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Contact the NHS Business Services Authority</span>
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->





    <h2>
      Versions
    </h2>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS (v0.1)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--grey">DRAFT</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        {{ button({
          "text": "View Unsolicited Prototype - No Login - (MVP)",
          "href": "/v1/hub-page"
        }) }}
        {{ button({
          "text": "View Unsolicited Prototype - NHS Login - (MVP)",
          "href": "/v1/hub-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
        }) }}
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS (v0.2)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--grey">DRAFT</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>Split request into 2 parts; unsolicited and solicited.</li>
        </ul>
        <h4 class="nhsuk-heading-xs">Unsolicited</h4>
        <ul>
          <li>Shortened the journey for MVP, starting from the existing contact us page</li>
          <li>Adding the ability to upload a document to the contact form</li>
          <li>Amended the layout of the contact form to bring it inline with design standards</li>
        </ul>
        <h4 class="nhsuk-heading-xs">Solicited</h4>
        <ul>
          <li>Shortened the journey for MVP, starting from the existing email templates, which hae been amended</li>
          <li>Allowing users to upload documents securley through a secure link in the email</li>
        </ul>
        <hr>
        {{ button({
          "text": "View Unsolicited Prototype (MVP)",
          "href": "/v2/unsolicited/contact-form"
        }) }}
        {{ button({
          "text": "View Solicited Prototype (MVP)",
          "href": "/v2/solicited/landing-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
        }) }}
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS (v0.3)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--grey">DRAFT</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-s">Error Messages</h3>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              DECS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/decs/403">403 (Standard)</a></li>
              <li><a href="v3/errors/decs/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/decs/404">404</a></li>
              <li><a href="v3/errors/decs/500">500</a></li>
              <li><a href="v3/errors/decs/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/decs/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Dental Services
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/dental-services/">403 (Standard)</a></li>
              <li><a href="v3/errors/dental-services/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/dental-services/404">404</a></li>
              <li><a href="v3/errors/dental-services/500">500</a></li>
              <li><a href="v3/errors/dental-services/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/dental-services/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              HRT
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/hrt/403">403 (Standard)</a></li>
              <li><a href="v3/errors/hrt/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/hrt/404">404</a></li>
              <li><a href="v3/errors/hrt/500">500</a></li>
              <li><a href="v3/errors/hrt/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/hrt/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              LIS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/lis/403">403 (Standard)</a></li>
              <li><a href="v3/errors/lis/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/lis/404">404</a></li>
              <li><a href="v3/errors/lis/500">500</a></li>
              <li><a href="v3/errors/lis/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/lis/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              LSF
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/lsf/403">403 (Standard)</a></li>
              <li><a href="v3/errors/lsf/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/lsf/404">404</a></li>
              <li><a href="v3/errors/lsf/500">500</a></li>
              <li><a href="v3/errors/lsf/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/lsf/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Matex
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/matex/403">403 (Standard)</a></li>
              <li><a href="v3/errors/matex/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/matex/404">404</a></li>
              <li><a href="v3/errors/matex/500">500</a></li>
              <li><a href="v3/errors/matex/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/matex/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Medex
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/medex/403">403 (Standard)</a></li>
              <li><a href="v3/errors/medex/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/medex/404">404</a></li>
              <li><a href="v3/errors/medex/500">500</a></li>
              <li><a href="v3/errors/medex/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/medex/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              PECS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/pecs/403">403 (Standard)</a></li>
              <li><a href="v3/errors/pecs/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/pecs/404">404</a></li>
              <li><a href="v3/errors/pecs/500">500</a></li>
              <li><a href="v3/errors/pecs/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/pecs/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              My NHS Pension
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/pension/403">403 (Standard)</a></li>
              <li><a href="v3/errors/pension/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/pension/404">404</a></li>
              <li><a href="v3/errors/pension/500">500</a></li>
              <li><a href="v3/errors/pension/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/pension/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              PPC
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/ppc/403">403 (Standard)</a></li>
              <li><a href="v3/errors/ppc/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/ppc/404">404</a></li>
              <li><a href="v3/errors/ppc/500">500</a></li>
              <li><a href="v3/errors/ppc/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/ppc/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Prescription Services
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/prescription-services/403">403 (Standard)</a></li>
              <li><a href="v3/errors/prescription-services/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/prescription-services/404">404</a></li>
              <li><a href="v3/errors/prescription-services/500">500</a></li>
              <li><a href="v3/errors/prescription-services/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/prescription-services/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Student Bursary
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/sb/403">403 (Standard)</a></li>
              <li><a href="v3/errors/sb/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/sb/404">404</a></li>
              <li><a href="v3/errors/sb/500">500</a></li>
              <li><a href="v3/errors/sb/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/sb/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Social Work Bursary
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/swb/403">403 (Standard)</a></li>
              <li><a href="v3/errors/swb/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/swb/404">404</a></li>
              <li><a href="v3/errors/swb/500">500</a></li>
              <li><a href="v3/errors/swb/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/swb/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Tax Credits
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/tax-credits/403">403 (Standard)</a></li>
              <li><a href="v3/errors/tax-credits/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/tax-credits/404">404</a></li>
              <li><a href="v3/errors/tax-credits/500">500</a></li>
              <li><a href="v3/errors/tax-credits/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/tax-credits/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              TRS Employer
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="v3/errors/trs-employer/403">403 (Standard)</a></li>
              <li><a href="v3/errors/trs-employer/403-sequence">403 (Out of Sequence)</a></li>
              <li><a href="v3/errors/trs-employer/404">404</a></li>
              <li><a href="v3/errors/trs-employer/500">500</a></li>
              <li><a href="v3/errors/trs-employer/503-generic">503 (Generic)</a></li>
              <li><a href="v3/errors/trs-employer/503-specific">503 (Specific)</a></li>
            </ul>
          </div>
        </details>
        <hr>
        {{ button({
          "text": "View Unsolicited Prototype (MVP)",
          "href": "/v3/unsolicited/contact-form"
        }) }}
        {{ button({
          "text": "View Solicited Prototype (MVP)",
          "href": "/v3/solicited/landing-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVOhp1QJ0=/?moveToWidget=3458764530854288713&cot=14"
        }) }}
      </div>
    </details>

    <hr>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS 'To Be' Version
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--yellow">USER RESEARCH</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <h4>Solicited</h4>
        <ul>
          <li>Building on previous drafts, the entry point for the solicited service will come via a notification sent by CCS (email, letter or SMS).</li>
          <li>Email and SMS will contain a link to the specific point in the journey which will allow the citizen to enter their reference number, name, date of birth and address. Once supplied, they can upload their requested documents.</li>
          <li>Letter should contain a short link to the root of the service which will allow them to select which service they are contacting us about, what they want to do (upload a document or evidence) and supply their personal details and upload their requested documents.</li>
        </ul>
        <h4>Unsolicited</h4>
        <ul>
          <li>Building on previous drafts, the entry point for the unsolicited service will come via each service page on the NHSBSA website (a start page is also available if users come via another source or service variable isn't found in the URL).</li>
          <li>After selecting which service they wish to contact us about, users are then given 3 options:</li>
          <ol>
            <li>General query</li>
            <li>Change name, date of birth or address</li>
            <li>Upload document or evidence</li>
          </ol>
          <li>Updated routing questions based on Content Design team feedback (1/11/2023)</li>
        </ul>
        <hr>
        {{ button({
          "text": "View Solicited Entry",
          "href": "/v4/solicited/email"
        }) }}
        {{ button({
          "text": "View Unsolicited Entry",
          "href": "/v4/unsolicited/start-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
        }) }}
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS MVP (Simplified)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--yellow">USER RESEARCH</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>It has been decided that both solicited and unsolicited entry points should be the same. Both types of user will use the same link to the start page.</li>
          <li>This iteration is a stripped back version of previous drafts with its main focus being on document upload.</li>
          <li>After selecting which service they wish to contact us about, users are then directed straight to the point of 'Do you have a reference number?' in order to complete the document upload process. </li>
        </ul>
        <h3 class="nhsuk-heading-s">Error Messages</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="errors/403">403 (Standard)</a></li>
          <li><a href="errors/403-sequence">403 (Out of Sequence)</a></li>
          <li><a href="errors/404">404</a></li>
          <li><a href="errors/500">500</a></li>
          <li><a href="errors/503-generic">503 (Generic)</a></li>
          <li><a href="errors/503-specific">503 (Specific)</a></li>
        </ul>
        <h3 class="nhsuk-heading-s">Cookies</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="cookies/start-page">Cookie Banner</a></li>
          <li><a href="cookies/cookies">Essential Cookies</a></li>
          <li><a href="cookies/cookie-declaration">Change Non-Essential Cookies</a></li>
        </ul> 
        
        <hr>
        {{ button({
          "text": "View Prototype",
          "href": "/v5/start-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
        }) }}
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              CCS Iteration 1
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--yellow">USER RESEARCH</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">Awaiting user need and user research recommendation</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>Added a preferred method of contact for users to choose how they wish to receive confirmation if by email, by phone or by text message.</li>
          <li>Confirmation of the preferred contact method has also been included in the final confirmation success page.</li>
        </ul>
        
        <hr>
        {{ button({
          "text": "View Prototype",
          "href": "/v6/start-page"
        }) }}
        {{ actionLink({
          "classes": "nhsuk-u-margin-bottom-3",
          "text": "View user journey (MVP)",
          "href": "https://miro.com/app/board/uXjVM9aEXeo=/?share_link_id=47478634841"
        }) }}
      </div>
    </details>

  </div>
</div>
{% endblock %}