<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
Contact the NHS Business Services Authority (NHSBSA)
{% endblock %}

{% block header %}
  {{ header({
    logo: {
      href: '#',
      ariaLabel: serviceName
    },
    service: {
      text: serviceName,
      href: '/'
    }
  }) }}
{% endblock %}

{% block footer %}
<footer class="nhsuk-footer" role="contentinfo">
  <div class="nhsuk-width-container">
    <div class="nhsuk-footer__meta">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="/docs">Home</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="/docs/about">About and support</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS.UK prototype kit - GitHub</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="/prototype-admin/reset?returnPage=">Reset data</a>
            </li>
          </ul>

          <p class="nhsuk-body-s">&copy; Crown copyright</p>
        </div>
      </div>
    </footer>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  {% include 'includes/scripts.html' %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
