<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% set serviceName = "Upload a document to the NHS Business Services Authority" %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block header %}
  <header class="nhsuk-header" role="banner" data-module="nhsuk-header">
    <div class="nhsuk-header__container nhsuk-width-container">
      <div class="nhsuk-header__service">
        <a class="nhsuk-header__service-logo" href="/">
          <svg class="nhsuk-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80" height="40" width="100" focusable="false" role="img" aria-label="Manage patients homepage">
            <title>Upload a document to the NHS Business Services Authority (NHSBSA) homepage</title>
            <path fill="currentcolor" d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z" />
          </svg>
          <span class="nhsuk-header__service-name">Upload a document to the NHS Business Services Authority (NHSBSA)</span>
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}
{{ footer({
  meta: {
    items: [
    {
      href: "https://www.nhsbsa.nhs.uk/our-policies/privacy",
      text: "Privacy policy"
    },
    {
      href: "/cookies/cookies",
      text: "Cookies"
    },
    {
      href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
      text: "Terms and conditions"
    },
    {
      href: "#",
      text: "Accessibility statement"
    },
    {
      href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
      text: "Reset data"
    }
    ]
  },
  copyright:{
    html: "&copy; Crown copyright"
  }
}) }}
<div class="app-ogl-footer">
  <div class="nhsuk-width-container">
    <p class="app-ogl-footer--text">
      <svg xmlns="http://www.w3.org/2000/svg" height="17" width="41" role="presentation" focusable="false" viewBox="0 0 483.2 195.7">
        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
      </svg>
      All content is available under the <a class="nhsuk-footer__list-item-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" target="_blank">Open Government Licence v3.0<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>, except where otherwise stated.
    </p>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
<script type="module">
  import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
  initAll()
</script>
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
