{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Applicant" %}
{% set pageTitle = "Help accessing and managing your account" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}
      
  <p>If you know your login details but still cannot sign in, you might be on the wrong website.</p>
  <p>NHS Jobs has a website for applicants and a website for employers.</p>
  <p>You are currently on the <strong>applicant</strong> website.</p>
  
  {{ actionLink({
    text: 'Sign in as an applicant (opens in new tab)',
    href: 'https://www.jobs.nhs.uk/candidate/auth/login',
    classes: 'nhsuk-u-margin-bottom-0'
  }) }}

  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l" />

{% endblock %}

{% set blueBoxTitle = 'Common queries' %}

{% block blueBoxExtras %}
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}


{% block serviceOptions %} 

    <!-- 

      I need to create an account
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25616/en-us

      I need to reset my password
      https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32003/en-us

      I can’t login to my account
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25664/en-us

      I want to manage my  account
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25612/en-us

      I need to delete my account
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-27793/en-us

    -->

    {{ serviceContactList( fullWidth="true", target="_blank", title="I need to create an account", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25616/en-us" ) }}
    {{ serviceContactList( fullWidth="true", target="_blank", title="I need to reset my password", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32003/en-us" ) }}
    {{ serviceContactList( fullWidth="true", target="_blank", title="I can’t login to my account", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25664/en-us" ) }}
    {{ serviceContactList( fullWidth="true", target="_blank", title="I want to manage my  account", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25612/en-us" ) }}
    {{ serviceContactList( fullWidth="true", target="_blank", title="I need to delete my account", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-27793/en-us" ) }}

{% endblock %}
