{% extends 'layout-contact.html' %}
{% set pageTitle = "You cannot upload or send your CV to us"%}

{% block pageTitle %}
{{serviceName}}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l">NHS Jobs: Applicant</span>
        <h1>{{pageTitle}}</h1>
        <p>If your query pertains to submitting a CV or any aspect of the recruitment process, please refer to the job advert on the NHS Jobs wesbite and contact the employer directly for further assistance.</p>
        {{ actionLink({
          text: "Go to NHS Jobs (opens in a new tab)",
          href: "https://www.jobs.nhs.uk/candidate/search",
          openInNewWindow: true
        }) }}


    </div>

  </div>
{% endblock %}
