{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Applicant" %}
{% set pageTitle = "Help with completing your application" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}
      <p>If your application is not working, use the following help and support options.</p>
{% endblock %}

{% set blueBoxTitle = 'Common queries' %}

{% block blueBoxExtras %}
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}


{% block serviceOptions %} 

    <!-- 

      What is the difference between essential and desirable criteria
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25715/en-us

      Can I apply by CV or send my CV?
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25611/en-us

      I cannot submit my application
      https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32005/en-us

    -->

    {{ cardList( target="_blank", title="What is the difference between essential and desirable criteria", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25715/en-us" ) }}
    {{ cardList( target="_blank", title="Can I apply by CV or send my CV?", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-25611/en-us" ) }}
    {{ cardList( target="_blank", title="I cannot submit my application", link="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-32005/en-us" ) }}

{% endblock %}
