{% extends 'layout-contact-v2.html' %}

{% set pageTitleCaption = "NHS Jobs: Applicant" %}
{% set pageTitle = "Help with searching for a job" %}
{% set buttonLink = "../enter-your-name" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}
      <p>If you are trying to search for a job and it is not working, use the following help and support options.</p>
{% endblock %}

{% set blueBoxTitle = 'Common queries' %}

{% block blueBoxExtras %}
  <p>All links open in a new tab.</p>
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}


{% block serviceOptions %} 

    <!-- 

      How do I search for a job?
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28385/en-us

      The search results don’t match my search
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28391/en-us

      I want to save a job so I can look at it later
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28319/en-us

      I want to save my search criteria
      https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28321/en-us

    -->

    {{ cardList( target="_blank", title="How do I search for a job?", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28385/en-us" ) }}
    {{ cardList( target="_blank", title="The search results don’t match my search", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28391/en-us" ) }}
    {{ cardList( target="_blank", title="I want to save a job so I can look at it later", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28319/en-us" ) }}
    {{ cardList( target="_blank", title="I want to save my search criteria", link="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-28321/en-us" ) }}

{% endblock %}
