{% extends 'layout-contact.html' %}
{% set pageTitle = "Help accessing an account" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>

      <p>If you know your login details but are having a problem logging into the system you may be using the wrong website.</p>
      <p>We have two separate sites one for applicants and another for employers.</p>
    </div>

    <div class="nhsuk-u-reading-width">
      
      {{ warningCallout({
        heading: "Important",
        headingLevel: 2,
        HTML: "<p>If your account was created before 31st May 2023 you will need to create a new account as the NHS Jobs website had been upgraded to a new system. </p>"
      }) }}

      {% if 'applicant' in prevURL %}
        {{ actionLink({
          text: "Sign in as an applicant (opens in new tab)",
          href: "https://www.jobs.nhs.uk/candidate/auth/login",
          openInNewWindow: "true"
        }) }}
      {% elif 'employer' in prevURL %}
        {{ actionLink({
          text: "Sign in as an employer (opens in new tab)",
          href: "https://www.jobs.nhs.uk/employer/home",
          openInNewWindow: "true"
        }) }}
      {% endif %}

      <hr>

      <h2 class="nhsuk-heading-m">Need help with your account?</h2>

      {% set createAccount %}
        {% if 'applicant' in prevURL %}
          <p>To apply for a job listing on the NHS Jobs service, you must create an account.</p>
          {{ actionLink({
            text: "Create an account as an applicant (opens in new tab)",
            href: "https://www.jobs.nhs.uk/candidate/auth/register/first-last-name",
            openInNewWindow: "true"
          }) }}
          <p>To create a new account, select ‘Create an account' and enter your:</p>
          <ul>
          <li>first name</li>
          <li>last name</li>
          <li>email address</li>
          </ul>
          <p>You must also create a password.</p>
          <p>You cannot register the same email address to more than one account.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials,&nbsp;<a href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        {% elif 'employer' in prevURL %}
          <p>If your organisation already has an NHS Jobs account, you can ask your organisation's super-user to create an account for you.</p>
          <p>'Super users' can add and delete departments to your organisations account.</p>
          <p>'Super users' can also add users to a department.</p>
          <p>Once a user is added to a department, they can view their own tasks and the tasks for the department.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials,&nbsp;<a href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        {% endif %}
      {% endset %}


      {% set forgotPassword %}
        {% if 'applicant' in prevURL %}
          <p>if your login details aren't letting you login to your account and you need to reset your password you need to go to the NHS Jobs website. Click the link below to reset your password.</p>
          {{ actionLink({
            text: "Reset your password (opens in new tab)",
            href: "https://www.jobs.nhs.uk/candidate/auth/forgot-password",
            openInNewWindow: "true"
          }) }}
        {% elif 'employer' in prevURL %}
          <p>if your login details aren't letting you login to your account and you need to reset your password you need to go to the NHS Jobs website. Click the link below to reset your password.</p>
          {{ actionLink({
            text: "Reset your password (opens in new tab)",
            href: "https://www.jobs.nhs.uk/employer/auth/forgot-password",
            openInNewWindow: "true"
          }) }}
        {% endif %}
      {% endset %}

      {% set deleteAccount %}
        {% if 'applicant' in prevURL %}
          <p>If you want to delete your account with the NHS Jobs service, you must contact us.</p>
          <p>Your email must include your full name and the email address linked to your account.</p>
          <p>Requests will be processed as quickly as possible. The maximum time to process a request is one calendar month.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials,&nbsp;<a href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
          <form action="/{{folder}}/accessing-an-account" method="post" novalidate>
            {{ button({
            "text": "Start now",
            "classes": "nhsuk-u-margin-top-3"
            }) }}
          </form>
        {% elif 'employer' in prevURL %}
          <p>To close your account within the new NHS Jobs service, send an email with your details.</p>
          <p><a title="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-employers" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials, <a title="https://www.youtube.com/@nhs_jobs_service?cbrd=1" href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>    
          <form action="/{{folder}}/accessing-an-account" method="post" novalidate>
            {{ button({
            "text": "Start now",
            "classes": "nhsuk-u-margin-top-3"
            }) }}
          </form>
        {% endif %}
      {% endset %}


      <div class="nhsuk-expander-group">
        {{ details({
        classes: "nhsuk-expander",
        text: "I need to create an account",
        HTML: createAccount
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "I have forgotten my password and need to reset",
        HTML: forgotPassword
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "I need to cancel/delete my account",
        HTML: deleteAccount
        }) }}
      </div>

      <hr>

      <h2 class="nhsuk-heading-m">Need more support?</h2>
      <p>You can send us a general enquiry. We will reply within 2 working days.</p>

      <form action="/{{folder}}/accessing-an-account" method="post" novalidate>

        {{ button({
        "text": "Start now",
        "classes": "nhsuk-u-margin-top-3"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Alternative contact methods
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Telephone:</strong> 0300 330 1013</p>
          <p>Current waiting time is <strong>20 minutes</strong></p>
          <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
              aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call
              charges​​​​​​</a></p>
          <p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
          <p>We aim to respond to your email within 2 working days.</p>
        </div>
      </details>

    </div>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}