{% extends 'layout-contact.html' %}
{% set pageTitle = "Completing an application" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>

      <p>If your application is not working, use the following help and support options.</p>
    </div>

    <div class="nhsuk-u-reading-width">

      <h2 class="nhsuk-heading-m">Common problems</h2>

      {% set applyCV %}
        <p>If you need help with a job application or want to upload your CV you'll need to contact the employer directly.</p>
        <p>You can find their contact information on the job advert.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="https://www.jobs.nhs.uk/candidate/search" target="_blank">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Go to NHS Jobs (opens in a new tab)</span>
          </a>
        </div>
      {% endset %}
      
      <div class="nhsuk-expander-group">
        {{ details({
        classes: "nhsuk-expander",
        text: "I cannot submit my application",
        HTML: "
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ornare justo. Donec posuere consectetur eros. Nullam nec congue orci. Donec vel convallis urna. Aenean lorem quam, dapibus porttitor arcu et, maximus convallis arcu. Fusce id tristique magna. Ut volutpat ex tellus, id tristique ante mattis id. Vestibulum vulputate feugiat hendrerit. Praesent egestas ac felis euismod ullamcorper.</p>
        "
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "What is the difference between essential and desirable criteria?",
        HTML: "
        <p>Essential criteria are the qualifications, experience, skills or knowledge you must have to apply for a role.</p>
        <p>Desirable criteria are skills and experience that an employer would prefer. This may be used to decide who to invite to interview if they have a high volume of applications.</p>
        <p><a href=\"https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants\" target=\"_blank\" rel=\"noopener\">Further support and user guides are available on our website</a>.</p>
        <p>For bitesize video tutorials,&nbsp;<a href=\"https://www.youtube.com/@NHS_Jobs_Service?cbrd=1\" target=\"_blank\" rel=\"noopener\">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        "
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "How do I track my application?",
        HTML: "
        <p>You can choose to be notified of progress by email, telephone, and SMS text message.</p>
        <p>Notifications will be sent if you're:</p>
        <ul>
        <li>unsuccessful for a role</li>
        <li>shortlisted for an interview</li>
        <li>sent a job offer</li>
        <li>sent a contract of employment</li>
        </ul>
        <p>You'll also be notified if a job offer or contract of employment is withdrawn.</p>
        <p><a href=\"https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants\" target=\"_blank\" rel=\"noopener\">Further support and user guides are available on our website</a>.</p>
        <p>For bitesize video tutorials,&nbsp;<a href=\"https://www.youtube.com/@NHS_Jobs_Service?cbrd=1\" target=\"_blank\" rel=\"noopener\">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        "
        }) }}
        {{ details({
        classes: "nhsuk-expander",
        text: "Can I apply via CV or send in my CV?",
        HTML: applyCV
        }) }}
      </div>

      <hr>

      <h2 class="nhsuk-heading-m">Can't find what you are looking for?</h2>
      <p>Read our knowledge base if your questions have not been answered through our common problems.</p>
      {{ actionLink({
        text: "NHSBSA knowledge base (opens in new tab)",
        href: "https://faq.nhsbsa.nhs.uk/knowledgebase/",
        openInNewWindow: "true"
      }) }}

      <hr>
      
      <h2 class="nhsuk-heading-m">Need more support?</h2>
      <p>You can send us a general enquiry. We will reply within 2 working days.</p>

      
      <form action="/{{folder}}/completing-an-application" method="post" novalidate>

        {{ button({
        "text": "Start now",
        "classes": "nhsuk-u-margin-top-3"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Alternative contact methods
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Telephone:</strong> 0300 330 1013</p>
          <p>Current waiting time is <strong>20 minutes</strong></p>
          <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
              aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call
              charges​​​​​​</a></p>
          <p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
          <p>We aim to respond to your email within 2 working days.</p>
        </div>
      </details>

    </div>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}