{% extends 'layout-contact.html' %}
{% set pageTitle  = "What is your application reference number?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}} 
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l">
    {{pageTitle}}
  </h1>
  <div class="nhsuk-hint">
    For example, AR-250821-06846
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {% set findRef %}
            <p>You can find your application reference number in your account. It's shown under the date you applied. The reference is a 13-character code that starts with 'A'.</p>
            <p><img class="nhsuk-image__img nhsuk-u-width-one-half" src="/images/application-reference.png" alt="Example of where to find the applicant reference number"></p>
      {% endset %}

        <form action="/{{folder}}/enter-application-reference" method="post" novalidate>
      
        {{ input({
          label: {
            "html": accountNumber
          },
          "id": "enter-application-reference",
          "name": "enter-application-reference",
          "type": "text",
          "classes": "nhsuk-input--width-10"
        }) }}

        {{ details({
          summaryText: "How to find the application reference number",
          html: findRef
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
