{% extends 'layout-contact.html' %}
{% set pageTitle  = "Which organisation do you work for?" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}} 
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-l">
    {{pageTitle}}
  </h1>
  <!-- <div class="nhsuk-hint">
    <p>For example, XX</p>
  </div> -->

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="/{{folder}}/enter-organisation-name" method="post" novalidate>
      
        {{ input({
          label: {
            "html": organisationName
          },
          "id": "enter-organisation-name",
          "name": "enter-organisation-name",
          "type": "text",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>



    </div>  

  </div>
{% endblock %}
