{% extends 'layout-contact-service.html' %}
{% set pageTitle = "NHS Jobs (Applicants)" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{%block contactIntro %}

    <p>Select the reason you're contacting us</p>
    
{% endblock %}

{% set blueBoxTitle = 'Most common queries' %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}

{% set generalURL = '/' + folder + '/reference-number' %}

{% block serviceOptions %} 

    {{serviceContactList(link="accessing-an-account", title="Accessing an account")}}
    {{serviceContactList(link="searching-for-a-job", title="Searching for a job")}}
    {{serviceContactList(link="completing-an-application", title="Completing an application")}}
    {{serviceContactList(link="managing-a-job-offer", title="Managing a job offer")}}
    {{serviceContactList(link="nhs-jobs-website-support", title="A problem on the website")}}
    {{serviceContactList(link="application-support-email", title="Sending a CV")}}

{% endblock %}

{% block serviceCallDetails %}

<p><strong>Telephone:</strong> 0300 330 1013</p>
<p>Current waiting time is <strong>20 minutes</strong></p>
<p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
<p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call charges​​​​​​</a></p>

{% endblock %}

{% block serviceEmailDetails %}

<p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
<p>We aim to respond to your email within 2 working days.</p>

{% endblock %}
