{% extends 'layout-contact.html' %}
{% set pageTitle = "Help with a problem on the website" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">NHS Jobs</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">
        {{pageTitle}}
      </h1>

      <p>If you need help with the NHS Jobs website, use the following help and support options.</p>
    </div>

    <div class="nhsuk-u-reading-width">

      <h2 class="nhsuk-heading-m">Common queries</h2>

      {% set feedbackFaq %}
        {% if 'applicant' in prevURL %}
          <p>You must contact the employer directly to request feedback.</p>
          <p>You can find the contact details for the employer by going to the job listing using the 'view application' link. The contact details of the employer will be listed on this page in the top-right.</p>
          <p>NHS Jobs are unable to provide any contact information that is not included in the job listing.</p>
          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="https://www.jobs.nhs.uk/candidate/search" target="_blank">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Go to NHS Jobs (opens in a new tab)</span>
            </a>
          </div>
        {% elif 'employer' in prevURL %}
          <p>It's best practice to enter feedback after an interview.</p>
          <p>Feedback is not shared with the applicant, unless they request this information from the employer.</p>
          <p><a title="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants\" href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-employers" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials, <a style="overflow-wrap: break-word\" title="https://www.youtube.com/@nhs_jobs_service?cbrd=1" href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        {% endif %}
      {% endset %}


      {% set accessAccount %}
        {% if 'applicant' in prevURL %}
          <p>You can update most of your personal details and supporting information in your account.</p>
          <p>When you log into your account, you can update your:</p>
          <ul>
          <li>name</li>
          <li>contact preferences</li>
          <li>telephone number</li>
          <li>password</li>
          </ul>
          <p>You can make your applications quicker by updating your account profile with your:</p>
          <ul>
          <li>qualifications</li>
          <li>training</li>
          <li>job history</li>
          <li>equality and diversity details</li>
          </ul>
          <p>The saved information will be pre-populated when you complete an application. No one can view your saved information.</p>
          <h2>Email address</h2>
          <p>You cannot change the email address linked to your NHS Jobs account.&nbsp;</p>
          <p>If you cannot access the email linked to your account, you’ll not receive emails updating you about the progress of your application.</p>
          <p>Password reset emails are also sent to the email account registered to the NHS Jobs service. &nbsp;</p>
          <p>If you cannot access your NHS Jobs account and do not have access to the linked email address, create a new account with a new email address.&nbsp;</p>
          <p>You cannot transfer previous applications or applications in progress to the new account.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials,&nbsp;<a href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        {% elif 'employer' in prevURL %}
          <p>User accounts are created by your organisation’s Super Users.</p>
          <p>Once they've created your account, you'll receive an email asking you to set up your password and sign into your account.</p>
          <p>Your password must be 12 characters or more.</p>
          <p>You can access the sign in page at any time from the Employer Hub.</p>
          <p><a title="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-applicants" href="https://www.nhsbsa.nhs.uk/new-nhs-jobs-service/help-and-support-employers" target="_blank" rel="noopener">Further support and user guides are available on our website</a>.</p>
          <p>For bitesize video tutorials, <a title="https://www.youtube.com/@nhs_jobs_service?cbrd=1" href="https://www.youtube.com/@NHS_Jobs_Service?cbrd=1" target="_blank" rel="noopener">subscribe to our NHS Jobs YouTube channel</a>. Select the bell icon for future notifications.</p>
        {% endif %}
      {% endset %}

      <div class="nhsuk-expander-group">
        {% if 'applicant' in prevURL %}
          {{ details({
          classes: "nhsuk-expander",
          text: "What can I update on my applicant account?",
          HTML: accessAccount
          }) }}
          {{ details({
          classes: "nhsuk-expander",
          text: "I want to give feedback relating to some support I have received",
          HTML: feedbackFaq
          }) }}
        {% elif 'employer' in prevURL %}
          {{ details({
          classes: "nhsuk-expander",
          text: "I need to access the details on my account",
          HTML: accessAccount
          }) }}
          {{ details({
          classes: "nhsuk-expander",
          text: "Why do I need to add feedback to interviewed applicants?",
          HTML: feedbackFaq
          }) }}
        {% endif %}
      </div>


      <hr>

      <h2 class="nhsuk-heading-m">Can't find what you are looking for?</h2>

      <p>Read our knowledge base if your questions have not been answered through our common problems.</p>
      {{ actionLink({
        text: "NHSBSA knowledge base (opens in new tab)",
        href: "https://faq.nhsbsa.nhs.uk/knowledgebase/",
        openInNewWindow: "true"
      }) }}

      <hr>
      <h2 class="nhsuk-heading-m">Need more support?</h2>
      <p>You can send us a general enquiry. We will reply within 2 working days.</p>

      
      <form action="/{{folder}}/nhs-jobs-website-support" method="post" novalidate>

        {{ button({
        "text": "Start now",
        "classes": "nhsuk-u-margin-top-3"
        }) }}

      </form>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Alternative contact methods
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Telephone:</strong> 0300 330 1013</p>
          <p>Current waiting time is <strong>20 minutes</strong></p>
          <p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"
              aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call
              charges​​​​​​</a></p>
          <p><strong>Email:</strong> nhsbsa.nhsjobs@nhsbsa.nhs.uk</p>
          <p>We aim to respond to your email within 2 working days.</p>
        </div>
      </details>

    </div>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}