{% extends 'layout-contact.html' %}
{% set pageTitle = "Which of our services are you contacting us about?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row" >
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      
      <form action="/{{folder}}/which-service" method="post" novalidate>

      {{ radios({
        "idPrefix": "which-service",
        "name": "which-service",
        "fieldset": {
          "legend": {
            "text": pageTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          } 
        },
        "items": [
        {
          "value": "Support with Healthcare Costs",
          "text": "Support with Healthcare Costs",
          "hint": {
            "text": "Get help with prepaid prescriptions, buying healthy food and milk and health costs for people on a low income"
          }
        },
        {
          "value": "Support with Medical Exemptions and Penalty Charges",
          "text": "Support with Medical Exemptions and Penalty Charges",
          "hint": {
            "text": "Help and support for healthcare exemptions, Tax Credits and penalty charges"
          }
        },
        {
          "value": "Support for Students and Healthcare Professionals",
          "text": "Support for Students and Healthcare Professionals",
          "hint": {
            "text": "Medical, dental, social work and bursary help and support"
          }
        },
        {
          "value": "NHS Jobs",
          "text": "NHS Jobs",
          "hint": {
            "text": "Apply for a job and help and support for employers and jobseekers"
          }
        }
        ]
      }) }}
    </div>

    {{ button({
    "text": "Continue",
    "classes": "nhsuk-u-margin-top-4"
    }) }}

  </form>

  </div>
</div>
<script src="https://service-manual.nhs.uk/js/main.min.js" defer></script>
{% endblock %}