{% extends 'layout-contact.html' %}
{% set pageTitle = "Where is your document?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    </div>
</div>

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 2</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">{{pageTitle}}</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <p class="nhsuk-body-l">Is the file already on your computer? Or is it a printed document on a piece of paper?</p>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

            <a href="find-your-document"><button class="nhsuk-button nhsuk-button--reverse"
                data-module="nhsuk-button">My document is on my computer</button></a>
            <br>
            <a href="what-you-need"><button class="nhsuk-button nhsuk-button--reverse"
                data-module="nhsuk-button">I have a printed document</button></a>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/icon_laptop_desktop.svg"
                alt="Example of upload document">
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
        </div>
    </div>
</div>


{% endblock %}