{% extends 'layout-contact.html' %}
{% set pageTitle = "No previous address found" %}

{% block pageTitle %}
  {{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
  
        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}
  
    </div>
  </div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
           {{pageTitle}} 
        </h1>

        <p>We could not find an address that matches {% if (data['housenumber']) and (data['postcode']) %}building
            number or name and postcode{% else %}that postcode{% endif %}. Search again or enter your address manually.
        </p>

        <form action="/{{folder}}/{{subfolder}}/address/no-previous-address-found" method="post" novalidate>
            {{ button({
            "text": "Search again",
            "classes": "nhsuk-u-margin-top-3"
            }) }}
        </form>

        <p><a href="enter-your-previous-address">Enter {% if data['applyingfor'] == "someoneelse" %}their{% else %}your{% endif %} address
                manually</a>.</p>

    </div>
</div>

{% endblock %}