<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template-logged-in.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% set serviceName = "Contact the NHS Business Services Authority (NHSBSA)" %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
{{serviceName}}
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}
  {{ header({
    logo: {
      href: "#",
      ariaLabel: serviceName
    },
    service: {
      text: serviceName,
      href: "/"
    }
  }) }}
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}
{{ footer({
  meta: {
    items: [
    {
      
      href: "https://www.nhsbsa.nhs.uk/",
      text: "NHSBSA Main Website"
    },
    {
      href: "https://www.nhsbsa.nhs.uk/accessibility-statement-knowledge-base-website-and-associated-contact-us-page",
      "label": "Accessibility"
    },
    {
      href: "/clear-data",
      text: "Clear data"        
    }
    ]
  }
}) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
