{% extends 'layout-contact-service.html' %}
{% set pageTitle = "NHS Prescription Prepayment Certificate (PPC)" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}


{%block contactIntro %}

    <p>A prepayment prescription certificate (PPC) could save you money if you pay for your NHS prescriptions. </p>
      
{% endblock %}

{% set chevronIcon %}
  <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z"></path>
  </svg>
{% endset %}

{% set generalURL = '/' + folder + '/general/enter-your-name' %}
{% set uploadURL = '/' + folder + '/upload/reference-number' %}

{% block serviceOptions %}

    {{serviceContactList(link="replacement/certificate-number", title="Replace my lost or damaged certificate")}}
    {{serviceContactList(link="certificate-number", title="Change my name, date of birth or address")}}
    {{serviceContactList(link=uploadURL, title="Upload supporting documents")}}
    {{serviceContactList(link="https://check-for-help-paying-nhs-costs.nhsbsa.nhs.uk/start", target="_blank", aria="Opens in a new tab", title="Check your eligibility")}}
    {{serviceContactList(link="https://buy-prescription-prepayment-certificate.nhsbsa.nhs.uk/start", target="_blank", aria="Opens in a new tab", title="Buy a PPC")}}
    {{serviceContactList(link=generalURL, title="Something else")}}  

{% endblock %}

{% block serviceCallDetails %}

<p><strong>Telephone:</strong> 0300 330 1341</p>
<p>Current waiting time is <strong>20 minutes</strong></p>
<p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
<p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call charges​​​​​​</a></p>

{% endblock %}

{% block serviceEmailDetails %}

<p><strong>Email:</strong> nhsbsa.ppc1@nhsbsa.nhs.uk</p>
<p>We aim to respond to your email within 2 working days.</p>

{% endblock %}
