{% extends 'layout-contact-service.html' %}
{% set pageTitle = "NHS Prescription Prepayment Certificate (PPC)" %}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}


{%block contactIntro %}

    <p>A prepayment prescription certificate (PPC) could save you money if you pay for your NHS prescriptions. </p>
      
{% endblock %}

{% block serviceOptions %}

    {{serviceContactList(link="replacement/certificate-number", title="Replace my lost or damaged certificate")}}
    {{serviceContactList(link="certificate-number", title="Change my name, date of birth or address")}}
    {{serviceContactList(link="/v7-b/upload/reference-number", title="Upload supporting documents")}}
    {{serviceContactList(link="https://check-for-help-paying-nhs-costs.nhsbsa.nhs.uk/start", target="_blank", aria="Opens in a new tab", title="Check your eligibility")}}
    {{serviceContactList(link="https://buy-prescription-prepayment-certificate.nhsbsa.nhs.uk/start", target="_blank", aria="Opens in a new tab", title="Buy a PPC")}}
    {{serviceContactList(link="/v7-b/general/enter-your-name", title="Something else")}}  

{% endblock %}

{% block serviceCallDetails %}

<p><strong>Telephone:</strong> 0300 330 1341</p>
<p>Current waiting time is <strong>20 minutes</strong></p>
<p>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.</p>
<p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" aria-label="Call charge information - Opens in a new tab" target="_blank">Find out about call charges​​​​​​</a></p>

{% endblock %}

{% block serviceEmailDetails %}

<p><strong>Email:</strong> nhsbsa.ppc1@nhsbsa.nhs.uk</p>
<p>We aim to respond to your email within 2 working days.</p>

{% endblock %}
