{% extends 'layout-contact.html' %}

{% block pageTitle %}
Sorry, the service is unavailable - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
          Confirm your change of address
      </h1>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
        <p><span class="nhsuk-u-font-weight-bold">Previous address:</span> {% if (data['previousAddress']) %}{{ data['previousAddress'] }}{% else %}FRESHFIELD ROAD, BRIGHTON, EAST SUSSEX, BN2 9XZ{% endif %}</p>
        <p><span class="nhsuk-u-font-weight-bold">New address:</span> {% if (data['newAddress']) %}{{ data['newAddress'] }}{% else %}30 BIRCHLANDS, BRIDGENORTH, SHROPSHIRE, WV15 5ED{% endif %}</p>
      </div>

      <form action="v4/unsolicited/change/address/confirm" method="post" novalidate>
  
        {{ button({
          "text": "Confirm and continue"
        }) }}
  
      </form>

    </div>
</div>

{% endblock %}